/*--for login page--*/
div.main {
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 1%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #ffffff 1%,#ffffff 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 1%,#ffffff 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #ffffff 1%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: calc(100vh);
    width: 100%;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
    box-sizing: border-box;
   /* margin: 0px auto;*/&::before, &::after{ box-sizing: border-box;
                     }

}

body {
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

a {
    /*color: #eee;*/
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

.clearfix {
    *zoom: 1;&:before, &:after{
            content: ' ';
            display: table;
        }&:after {
            clear: both;
        }

}

.container {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form {
    width: 300px;
}

#login, .logo {
    display: inline-block;
    width: 35%;
}

#login {
    /*border-right: 1px solid #fff;*/
    border-left: 1px solid #eee4e4;
    padding: 0px 22px;
    width: 64%;
}

.logo {
    color: #000;
    font-size: 16px;
    line-height: 125px;
}

#login form span.fa {
    background-color: #fff;
    border-radius: 3px 0px 0px 3px;
    color: #000;
    display: block;
    float: left;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login form input {
    height: 35px;
}
#login form input:focus {
    border: 1px solid purple !important;
  box-shadow: 0 0 5px purple !important;
  -moz-box-shadow: 0 0 5px purple !important;
  -webkit-box-shadow: 0 0 5px purple !important;
}
fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

#login form input[type="text"], input[type="password"] {
    background-color: #fff;
    border-radius: 25px;
    color: #000;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 300px;
    height:35px;
}
#login form input[type="checkbox"] {
    border: 1px solid #bcc5c6 !important;
    border-color: #bcc5c6 mediumaquamarine;
    width: 15px !important;
    height: 15px !important;
}
#login form input[type="submit"] {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background-color: #e90000;
    color: #eee;
    font-weight: bold;
    /* margin-bottom: 2em; */
    /*text-transform: uppercase;*/
    padding: 5px 10px;
    height: 30px;
    width:100px;
}

    #login form input[type="submit"]:hover {
        background-color: #d44179;
    }

#login > p {
    text-align: center;
}

    #login > p span {
        padding-left: 5px;
    }

.middle {
    display: flex;
    width: 600px;
}

/*--end-- for login page--*/

.marginTP30{
    margin-top:30px;
}

/*-------*/

#login .container #login-row #login-column .login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-image: linear-gradient(to bottom, #aec1c3, #a9b5b7, #bcc5c6, #cfd5d5, #e3e5e5);
}

    #login .container #login-row #login-column .login-box #login-form {
        padding: 20px;
    }

        #login .container #login-row #login-column .login-box #login-form #register-link {
            margin-top: -85px;
        }