.submenu {
    display: none;
    transition: .5s ease-in-out;
    position: relative;
}

.mainmenu:hover .submenu {
    display: block;
    transition: .5s ease-in-out;
    margin: 10px 0 0 20px;
}

.sub_submenu {
    display: none;
}

.meutm {
    position: relative;
}

    .meutm:hover .sub_submenu {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .meutm:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }

.meutmtwo:after {
    font-family: "FontAwesome";
    content: "\f104";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    right: 12px;
    top: 20px;
    color: #fff;
}

.meutmthree:after {
    font-family: "FontAwesome";
    content: "\f104";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    right: 12px;
    top: 20px;
    color: #fff;
}

.sub_submenu {
    display: none;
}

.meutmtwo {
    position: relative;
}

.sub_submenutn {
    display: none;
}

.meutmtwo:hover .sub_submenutn {
    display: block;
    transition: .5s ease-in-out;
    margin: 10px 0 0 20px;
    position: absolute;
    left: -293px;
    width: 273px;
    top: -9px;
}

.meutmthree {
    position: relative;
}

.sub_submenutnth {
    display: none;
}

.meutmthree:hover .sub_submenutnth {
    display: block;
    transition: .5s ease-in-out;
    margin: 10px 0 0 20px;
    position: absolute;
    left: -293px;
    width: 273px;
    top: -9px;
}
/*-----************Dynamic volume wise Menu Style*********************-------*/
.submenuL1 {
    display: none;
}

.menu_itm {
    position: relative;
}

    .menu_itm:hover .submenuL1 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itm:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }

.submenuL2 {
    display: none;
}

.menu_itmL1 {
    position: relative;
}

    .menu_itmL1:hover .submenuL2 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL1:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*---*/
.submenuL3 {
    display: none;
}

.menu_itmL2 {
    position: relative;
}

    .menu_itmL2:hover .submenuL3 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL2:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*----*/
.submenuL4 {
    display: none;
}

.menu_itmL3 {
    position: relative;
}

    .menu_itmL3:hover .submenuL4 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL3:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }

/*----*/
.submenuL5 {
    display: none;
}

.menu_itmL4 {
    position: relative;
}

    .menu_itmL4:hover .submenuL5 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL4:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*-----*/
.submenuL6 {
    display: none;
}

.menu_itmL5 {
    position: relative;
}

    .menu_itmL5:hover .submenuL6 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL5:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*-----*/
.submenuL7 {
    display: none;
}

.menu_itmL6 {
    position: relative;
}

    .menu_itmL6:hover .submenuL7 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL6:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/**-----*/
.submenuL8 {
    display: none;
}

.menu_itmL7 {
    position: relative;
}

    .menu_itmL7:hover .submenuL8 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL7:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*------*/
/*-----*******End*****Dynamic Menu Style*********************-------*/

body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background: #fff;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

a,
a:active,
a:focus,
button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
    outline: none;
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

@-webkit-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@-moz-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@-o-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}


.clr {
    clear: both;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

header {
    background: #e90000;
    padding: 9px 0;
}

.steps {
    overflow: hidden;
    background: rgb(128 128 128 / 12%);
    margin: 0rem 0;
}

.steps_item {
    float: left;
    margin-left: -1px;
    font-size: 14px;
    line-height: 48px;
    height: 46px;
    color: #000;
    position: relative;
}

    .steps_item a {
        color: #ca0000;
    }

    .steps_item::before, .steps_item::after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        width: 2px;
        height: 50%;
        background: #e5e5e5;
    }

    .steps_item::before {
        top: 0;
        transform: skewX(30deg);
        transform-origin: 100% 100%;
    }

    .steps_item::after {
        bottom: 0;
        transform: skewX(-30deg);
        transform-origin: 100% 0;
    }

    .steps_item:hover::before, .steps_item:hover::after, .steps_item_active::before, .steps_item_active::after {
        width: 100%;
    }

.steps_content {
    position: relative;
    z-index: 2;
    padding: 0 2rem 0 1rem;
}

.steps_animation .steps_item::before, .steps_animation .steps_item::after {
    transition: 0.2s ease;
}

.search {
    width: 44%;
    position: relative;
    display: flex;
    margin: 6px 0 0 0;
    float: right;
}

.searchTerm {
    width: 100%;
    border: 2px solid #ffffff;
    border-right: none;
    padding: 6px;
    height: 33px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #e90000;
    font-size: 13px;
    /* background: #ffffff7a; */
    font-weight: 300;
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    width: 59px;
    height: 36px;
    border: 1px solid #000000;
    background: #2a0303;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


.menu_icon {
}

/*---Ship-----*/
.colorWhite {
    color: white;
}

.marginTP5 {
    margin-top: 5px;
}

.marginTP10 {
    margin-top: 10px;
}

.menu_icon a {
    color: #fff;
    font-size: 25px;
    margin: 11px 0 12px 0;
    display: inline-block;
    text-align: right;
}

    .menu_icon a img {
    }


.marginTP10 {
    margin-top: 10px;
}

.marginLFT5 {
    margin-left: 50px;
}

.marginBTM10 {
    margin-bottom: 10px;
}
/*--End--Ship-----*/

.full_body {
    display: flex;
}

.content_body {
    /*  width: 78%;*/
    /* display: inline-block;*/
    transition: .5s ease-in-out;
}

.menu_panel {
    background: #404040;
    padding: 0 20px 10px;
    transition: .5s ease-in-out;
}

.menu ul li {
    list-style-type: none;
    margin: 0 0 13px 0;
}

    .menu ul li:last-child {
        margin: 0;
    }

    .menu ul li a {
        color: #fff;
        background: #e90000;
        width: 100%;
        display: block; /* padding: 8px 15px; */
        border-radius: 5px;
        font-weight: 300;
        font-size: 13px;
        height: 67px;
    }

        .menu ul li a span.vul {
            text-transform: uppercase;
            font-weight: 400;
            display: inline-block;
            text-align: center;
            position: relative;
            width: 25%;
            padding: 14px 10px;
        }

            .menu ul li a span.vul:before {
                content: "";
                position: absolute;
                height: 66px;
                width: 1px;
                background: #c43a3a;
                right: -11px;
                top: -8px;
                display: none;
            }

        .menu ul li a span b {
            display: block;
        }

.pgnam {
    vertical-align: top;
    display: inline-block;
    padding: 14px;
    width: 75%;
    vertical-align: top;
    border-left: 1px solid #c83a3a;
    height: 67px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.spgnam {
    vertical-align: top;
    display: inline-block;
    padding: 14px;
    width: 90%;
    vertical-align: top;
    border-left: 1px solid #c83a3a;
    height: 67px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}



.icon_box a {
    color: #000;
    font-size: 14px;
    padding: 20px 10px;
    display: block;
    line-height: 20px;
}

.left_bo {
    background: url(../images/back.png) no-repeat 0 0;
    background-size: contain;
    padding: 45px 20px;
}

.one_part {
    display: inline-block;
    width: 42%;
    text-align: center;
    padding: 0 31px 0 0;
}

    .one_part a {
        color: #000;
        text-align: center;
        font-size: 15px;
        display: block;
        padding: 10px 12px;
        line-height: 18px;
    }

.two_part {
    display: inline-block;
    width: 56%;
}

    .two_part ul li {
        padding: 0 0 5px 0;
        list-style-type: none;
    }

        .two_part ul li a {
            color: #000;
            font-size: 15px;
        }

            .two_part ul li a img {
                padding: 0 11px 0 0;
            }

.content_body .container.body-content {
    padding: 0;
}
/**********LogIn************/
.login_page {
}

.login_box {
    padding: 31px;
    width: 38%;
    margin: 62px auto 0;
    background: #f4f5f7;
}

.lo_text {
    text-align: center;
    padding: 10px 0 17px 0;
}

    .lo_text h3 {
        display: inline-block;
        font-size: 22px;
        color: #555353;
        font-weight: 300;
        padding: 0 0 0 14px;
    }

.login_box label {
    color: #8c8c8c;
    font-weight: 300;
    font-size: 16px;
    padding: 0 0 0 14px;
}

.login_box .form-control {
    border-radius: 23px;
    font-size: 15px;
    height: 41px;
}

.signup_btn button {
    background: #e20a16;
    border: 0;
    color: #fff;
    padding: 7px 33px;
    border-radius: 24px;
    font-size: 15px;
}

.wh_box {
    background: #fff;
    padding: 28px;
    border-radius: 20px;
    box-shadow: 2px 2px 14px #d0d0d0;
}
/**********************/
.title_h {
    padding: 34px 0 27px;
}

    .title_h h2 {
        color: #000;
        text-align: center;
        text-transform: uppercase;
    }

        .title_h h2 span {
            font-size: 57px;
        }

.volume_text {
    text-align: center;
    margin: 30px 0px;
    border-top: 1px solid #767373;
    padding: 20px 0;
    border-bottom: 1px solid #767373;
    width: 75%;
    margin: 0 auto;
}

    .volume_text h3 {
    }

    .volume_text h5 {
    }

.sa_en_pro {
    text-align: center;
    padding: 25px 37px;
    width: 66%;
    margin: 34px auto;
    border: 1px solid #696666;
}

    .sa_en_pro h5 {
        font-size: 22px;
        padding: 10px 0 20px;
        margin: 0;
    }

    .sa_en_pro h6 {
        font-weight: 400;
        line-height: 26px;
    }

.footer {
    border-top: 1px solid #0cb0eb;
    padding: 14px 0 12px;
    margin: 38px 0 0;
}

    .footer ul {
        margin: 0;
        text-align: center;
    }

        .footer ul li {
            display: inline-block;
            padding: 0 11px;
            font-size: 14px;
            color: #696969;
        }

            .footer ul li a {
                text-decoration: underline;
                color: #28c6ff;
            }

.full_body .container.body-content {
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: relative;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #404040;
    /*overflow-x: hidden;*/
    transition: 0.5s;
    /*padding-top: 60px;*/
}

    .sidebar a {
        /* padding: 8px 8px 8px 32px;*/
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

    .sidebar .closebtn {
        position: relative;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 46px;
        text-align: right;
        display: none;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
        /* z-index: 999; */
    }

        .sidebar a {
            font-size: 18px;
        }
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: -117px;
}

    .dropdown-content ul li {
        list-style-type: none;
        text-align: left;
    }

        .dropdown-content ul li a:hover {
            background: #dd3043;
            color: #fff;
        }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


.dropdown:hover .dropdown-content {
    display: block;
}

.dropmenuright .dropdown-rightcontent {
    display: none;
}

.dropdown-rightcontent {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenuright {
    position: relative;
}

    .dropmenuright:after {
        font-family: "FontAwesome";
        /*content: "\f105";*/
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenuright:hover:after {
        color: #fff;
    }

    .dropmenuright:hover .dropdown-rightcontent {
        display: block;
    }

/*--------Ship Menu------------*/
.dropmenurightL1 .dropdown-rightcontentL1 {
    display: none;
}

.dropdown-rightcontentL1 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL1 {
    position: relative;
}

    .dropmenurightL1:after {
        font-family: "FontAwesome";
        /*content: "\f105";*/
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL1:hover:after {
        color: #fff;
    }

    .dropmenurightL1:hover .dropdown-rightcontentL1 {
        display: block;
    }

/*--------------------------------*/

.dropmenurightL2 .dropdown-rightcontentL2 {
    display: none;
}

.dropdown-rightcontentL2 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL2 {
    position: relative;
}

    .dropmenurightL2:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL2:hover:after {
        color: #fff;
    }

    .dropmenurightL2:hover .dropdown-rightcontentL2 {
        display: block;
    }
/*--------------------------*/
.dropmenurightL3 .dropdown-rightcontentL3 {
    display: none;
}

.dropdown-rightcontentL3 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL3 {
    position: relative;
}

    .dropmenurightL3:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL3:hover:after {
        color: #fff;
    }

    .dropmenurightL3:hover .dropdown-rightcontentL3 {
        display: block;
    }
/*------------------------*/
.dropmenurightL4 .dropdown-rightcontentL4 {
    display: none;
}

.dropdown-rightcontentL4 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL4 {
    position: relative;
}

    .dropmenurightL4:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL4:hover:after {
        color: #fff;
    }

    .dropmenurightL4:hover .dropdown-rightcontentL4 {
        display: block;
    }

/*--------------------------------*/
.dropmenurightL5 .dropdown-rightcontentL5 {
    display: none;
}

.dropdown-rightcontentL5 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL5 {
    position: relative;
}

    .dropmenurightL5:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL5:hover:after {
        color: #fff;
    }

    .dropmenurightL5:hover .dropdown-rightcontentL5 {
        display: block;
    }

/*--------------------------------*/
.dropmenurightL6 .dropdown-rightcontentL6 {
    display: none;
}

.dropdown-rightcontentL6 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL6 {
    position: relative;
}

    .dropmenurightL6:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL6:hover:after {
        color: #fff;
    }

    .dropmenurightL6:hover .dropdown-rightcontentL6 {
        display: block;
    }

/*--------------------------------*/
.dropmenurightL7 .dropdown-rightcontentL7 {
    display: none;
}

.dropdown-rightcontentL7 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL7 {
    position: relative;
}

    .dropmenurightL7:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL7:hover:after {
        color: #fff;
    }

    .dropmenurightL7:hover .dropdown-rightcontentL7 {
        display: block;
    }

/*--------------------------------*/
.dropmenurightL8 .dropdown-rightcontentL8 {
    display: none;
}

.dropdown-rightcontentL8 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL8 {
    position: relative;
}

    .dropmenurightL8:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL8:hover:after {
        color: #fff;
    }

    .dropmenurightL8:hover .dropdown-rightcontentL8 {
        display: block;
    }

/*--------------------------------*/
/*--------Ship Menu------------*/

.breadcrumbs .search {
    float: right;
    width: 34%;
}

    .breadcrumbs .search a {
        height: 33px;
        background: #e90000;
        padding: 4px 13px;
        border: 1px solid #e90000;
    }


.admin .dropdown-content {
    top: 40px;
    padding: 14px;
    z-index: 9999999;
}

    .admin .dropdown-content h3 {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        border-bottom: 1px solid #eee;
        padding: 0 0 5px 0;
    }

    .admin .dropdown-content a {
        padding: 0;
    }

.admin .button.log {
    background: #e90000;
    border: 0;
    border: 2px solid #fff;
    padding: 6px;
    border-radius: 22px;
    text-align: right;
}

.admin {
    margin: 10px 0 0 0;
}

.logo img {
    width: 94%;
}

.admin .dropdown-content h3 span {
    display: block;
    font-size: 13px;
    padding: 3px;
}

.icon_box {
}

    .icon_box h5 {
        font-size: 18px;
        padding: 20px 0;
        color: #000000;
        font-weight: 400;
    }

.ta_title {
    padding: 23px 0 26px;
}

.paginate_button.current {
    color: #fff !important;
    background: #e90000 !important;
    border: 0 !important;
    box-shadow: none !important;
    padding: 4px 12px !important;
}

..submenu {
    display: none;
    transition: .5s ease-in-out;
    position: relative;
}

.mainmenu:hover .submenu {
    display: block;
    transition: .5s ease-in-out;
    margin: 10px 0 0 20px;
}

.sub_submenu {
    display: none;
}

.meutm {
    position: relative;
}

    .meutm:hover .sub_submenu {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .meutm:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }

.meutmtwo:after {
    font-family: "FontAwesome";
    content: "\f104";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    right: 12px;
    top: 20px;
    color: #fff;
}

.meutmthree:after {
    font-family: "FontAwesome";
    content: "\f104";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    right: 12px;
    top: 20px;
    color: #fff;
}

.sub_submenu {
    display: none;
}

.meutmtwo {
    position: relative;
}

.sub_submenutn {
    display: none;
}

.meutmtwo:hover .sub_submenutn {
    display: block;
    transition: .5s ease-in-out;
    margin: 10px 0 0 20px;
    position: absolute;
    left: -293px;
    width: 273px;
    top: -9px;
}

.meutmthree {
    position: relative;
}

.sub_submenutnth {
    display: none;
}

.meutmthree:hover .sub_submenutnth {
    display: block;
    transition: .5s ease-in-out;
    margin: 10px 0 0 20px;
    position: absolute;
    left: -293px;
    width: 273px;
    top: -9px;
}
/*-----************Dynamic volume wise Menu Style*********************-------*/
.submenuL1 {
    display: none;
}

.menu_itm {
    position: relative;
}

    .menu_itm:hover .submenuL1 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itm:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }

.submenuL2 {
    display: none;
}

.menu_itmL1 {
    position: relative;
}

    .menu_itmL1:hover .submenuL2 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL1:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*---*/
.submenuL3 {
    display: none;
}

.menu_itmL2 {
    position: relative;
}

    .menu_itmL2:hover .submenuL3 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL2:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*----*/
.submenuL4 {
    display: none;
}

.menu_itmL3 {
    position: relative;
}

    .menu_itmL3:hover .submenuL4 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL3:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }

/*----*/
.submenuL5 {
    display: none;
}

.menu_itmL4 {
    position: relative;
}

    .menu_itmL4:hover .submenuL5 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL4:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*-----*/
.submenuL6 {
    display: none;
}

.menu_itmL5 {
    position: relative;
}

    .menu_itmL5:hover .submenuL6 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL5:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*-----*/
.submenuL7 {
    display: none;
}

.menu_itmL6 {
    position: relative;
}

    .menu_itmL6:hover .submenuL7 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL6:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/**-----*/
.submenuL8 {
    display: none;
}

.menu_itmL7 {
    position: relative;
}

    .menu_itmL7:hover .submenuL8 {
        display: block;
        transition: .5s ease-in-out;
        margin: 10px 0 0 20px;
        position: absolute;
        left: -293px;
        width: 273px;
        top: -9px;
    }

    .menu_itmL7:after {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 20px;
        color: #fff;
    }
/*------*/
/*-----*******End*****Dynamic Menu Style*********************-------*/

body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background: #fff;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

a,
a:active,
a:focus,
button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
    outline: none;
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

@-webkit-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@-moz-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@-o-keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}

@keyframes bounce {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 15px;
    }

    100% {
        bottom: 30;
    }
}


.clr {
    clear: both;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1194px;
    }
}

header {
    background: #fff;
    padding: 9px 0;
}

.steps {
    overflow: hidden;
    background: #404040;
    margin: 0rem 0;
}

.steps_item {
    float: left;
    margin-left: -1px;
    font-size: 14px;
    line-height: 48px;
    height: 46px;
    color: #fff;
    position: relative;
    background: #404040;
}

    .steps_item a {
        color: #ffffff;
    }

    .steps_item::before, .steps_item::after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        width: 2px;
        height: 50%;
        background: #e5e5e5;
    }

    .steps_item::before {
        top: 0;
        transform: skewX(30deg);
        transform-origin: 100% 100%;
    }

    .steps_item::after {
        bottom: 0;
        transform: skewX(-30deg);
        transform-origin: 100% 0;
    }

    .steps_item:hover::before, .steps_item:hover::after, .steps_item_active::before, .steps_item_active::after {
        width: 100%;
    }

.steps_content {
    position: relative;
    z-index: 2;
    padding: 0 27px 0 21px;
}

.steps_animation .steps_item::before, .steps_animation .steps_item::after {
    transition: 0.2s ease;
}

.search {
    width: 44%;
    position: relative;
    display: flex;
    margin: 6px 0 0 0;
    float: right;
}

.searchTerm {
    width: 100%;
    border: 2px solid #ffffff;
    border-right: none;
    padding: 6px;
    height: 33px;
    border-radius: 0;
    outline: none;
    color: #e90000;
    font-size: 13px;
    /* background: #ffffff7a; */
    font-weight: 300;
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    width: 59px;
    height: 36px;
    border: 1px solid #000000;
    background: #2a0303;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


.menu_icon {
    vertical-align: super;
    display: inline-block;
}

/*---Ship-----*/
.colorWhite {
    color: white;
}

.marginTP5 {
    margin-top: 5px;
}

.marginTP10 {
    margin-top: 10px;
}

.menu_icon a {
    color: #e90000;
    font-size: 25px;
    margin: 2px 14px 7px 0;
    display: inline-block;
    vertical-align: text-top;
    line-height: 28px;
}

    .menu_icon a img {
    }


.marginTP10 {
    margin-top: 10px;
}

.marginLFT5 {
    margin-left: 50px;
}

.marginBTM10 {
    margin-bottom: 10px;
}
/*--End--Ship-----*/

.full_body {
    display: flex;
    position: relative;
    min-height: 426px;
}

.content_body {
    /*  width: 78%;*/
    /* display: inline-block;*/
    transition: .5s ease-in-out;
}

.menu_panel {
    background: #404040;
    padding: 15px 15px 15px;
    transition: .5s ease-in-out;
}

.menu ul li {
    list-style-type: none;
    margin: 0 0 5px 0;
}

    .menu ul li:last-child {
        margin: 0;
    }

    .menu ul li a {
        color: #fff;
        background: #777777;
        width: 100%;
        display: block;
        /* padding: 8px 15px; */
        border-radius: 5px;
        font-weight: 300;
        font-size: 13px;
        height: 51px;
        text-align: left;
    }

        .menu ul li a span.vul {
            text-transform: uppercase;
            font-weight: 400;
            display: inline-block;
            position: relative;
            width: 100%;
            /* padding: 7px 10px; */
        }

            .menu ul li a span.vul:before {
                content: "";
                position: absolute;
                height: 66px;
                width: 1px;
                background: #c43a3a;
                right: -11px;
                top: -8px;
                display: none;
            }

        .menu ul li a span b {
            display: inline-block;
        }

.pgnam {
    vertical-align: top;
    display: inline-block;
    padding: 7px;
    width: 75%;
    vertical-align: top;
    border-left: 1px solid #777777;
    height: 50px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.bnr_bottom_sec {
    padding: 30px 0px 0 0%;
}

.banner_div img {
    width: 100%;
}

.icon_box {
    text-align: center;
}

    .icon_box span {
        /* border-radius: 50%; */
        /* background: #fff; */
        /* border: 1px solid #000; */
        display: block;
        height: 100%;
        width: 100%;
        /* text-align: center; */
        margin: 0 auto;
    }

    .icon_box img {
        display: block;
        margin: 0 auto;
        /* padding: 22px 0; */
        width: 100%;
        height: 162px;
    }

    .icon_box a {
        color: #000;
        font-size: 14px;
        padding: 0;
        display: block;
        line-height: 20px;
    }

.left_bo {
    background: url(../images/back.png) no-repeat 0 0;
    background-size: cover;
    padding: 6px 25px;
    width: 100%;
    border: 1px solid #eee;
    margin-right: 19px;
    border-radius: 6px;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 14%);
}

.one_part {
    display: inline-block;
    width: 38%;
    text-align: center;
    padding: 25px 12px 0 0;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

    .one_part a {
        color: #000;
        text-align: center;
        font-size: 15px;
        display: block;
        padding: 10px 12px;
        line-height: 18px;
    }

.two_part {
    display: inline-block;
    width: 60%;
    padding-left: 36px;
}

    .two_part ul li {
        padding: 0 0 0px 0;
        list-style-type: none;
    }

        .two_part ul li a {
            color: #000;
            font-size: 14px;
        }

            .two_part ul li a img {
                padding: 0 11px 0 0;
            }

.content_body .container.body-content {
    padding: 0;
}
/**********LogIn************/
.login_page {
}

.login_box {
    padding: 31px;
    width: 38%;
    margin: 62px auto 0;
    background: #f4f5f7;
}

.lo_text {
    text-align: center;
    padding: 10px 0 17px 0;
}

    .lo_text h3 {
        display: inline-block;
        font-size: 22px;
        color: #555353;
        font-weight: 300;
        padding: 0 0 0 14px;
    }

.login_box label {
    color: #8c8c8c;
    font-weight: 300;
    font-size: 16px;
    padding: 0 0 0 14px;
}

.login_box .form-control {
    border-radius: 23px;
    font-size: 15px;
    height: 41px;
}

.signup_btn button {
    background: #e20a16;
    border: 0;
    color: #fff;
    padding: 7px 33px;
    border-radius: 24px;
    font-size: 15px;
}

.wh_box {
    background: #fff;
    padding: 28px;
    border-radius: 20px;
    box-shadow: 2px 2px 14px #d0d0d0;
}
/**********************/
.title_h {
    padding: 34px 0 27px;
}

    .title_h h2 {
        color: #000;
        text-align: center;
        text-transform: uppercase;
    }

        .title_h h2 span {
            font-size: 57px;
        }

.volume_text {
    text-align: center;
    margin: 30px 0px;
    border-top: 1px solid #767373;
    padding: 20px 0;
    border-bottom: 1px solid #767373;
    width: 75%;
    margin: 0 auto;
}

    .volume_text h3 {
    }

    .volume_text h5 {
    }

.sa_en_pro {
    text-align: center;
    padding: 25px 37px;
    width: 66%;
    margin: 34px auto;
    border: 1px solid #696666;
}

    .sa_en_pro h5 {
        font-size: 22px;
        padding: 10px 0 20px;
        margin: 0;
    }

    .sa_en_pro h6 {
        font-weight: 400;
        line-height: 26px;
    }

.footer {
    border-top: 1px solid #0cb0eb;
    padding: 14px 0 3px;
    margin: 38px 0 0;
}

    .footer ul {
        margin: 0;
        text-align: center;
    }

        .footer ul li {
            display: inline-block;
            padding: 0 11px;
            font-size: 14px;
            color: #696969;
        }

            .footer ul li a {
                text-decoration: underline;
                color: #28c6ff;
            }

.full_body .container.body-content {
    padding: 19px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: relative;
    z-index: 99999;
    top: 19px;
    left: 0;
    background-color: #404040;
    /*overflow-x: hidden;*/
    transition: 0.5s;
    /*padding-top: 60px;*/
}

    .sidebar a {
        /* padding: 8px 8px 8px 32px;*/
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

    .sidebar .closebtn {
        position: relative;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 46px;
        text-align: right;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        /* padding-top: 15px; */
        /* z-index: 999; */
    }

        .sidebar a {
            font-size: 18px;
        }
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: -117px;
}

    .dropdown-content ul li {
        list-style-type: none;
        text-align: left;
    }

        .dropdown-content ul li a:hover {
            background: #dd3043;
            color: #fff;
            margin: 10px;
            border-radius: 7px;
        }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


.dropdown:hover .dropdown-content {
    display: block;
}

.dropmenuright .dropdown-rightcontent {
    display: none;
}

.dropdown-rightcontent {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenuright {
    position: relative;
}

    .dropmenuright:after {
        font-family: "FontAwesome";
        /*content: "\f105";*/
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenuright:hover:after {
        color: #fff;
    }

    .dropmenuright:hover .dropdown-rightcontent {
        display: block;
    }

/*--------Ship Menu------------*/
.dropmenurightL1 .dropdown-rightcontentL1 {
    display: none;
}

.dropdown-rightcontentL1 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL1 {
    position: relative;
}

    .dropmenurightL1:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL1:hover:after {
        color: #fff;
    }

    .dropmenurightL1:hover .dropdown-rightcontentL1 {
        display: block;
    }

/*--------------------------------*/

.dropmenurightL2 .dropdown-rightcontentL2 {
    display: none;
}

.dropdown-rightcontentL2 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL2 {
    position: relative;
}

    .dropmenurightL2:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL2:hover:after {
        color: #fff;
    }

    .dropmenurightL2:hover .dropdown-rightcontentL2 {
        display: block;
    }
/*--------------------------*/
.dropmenurightL3 .dropdown-rightcontentL3 {
    display: none;
}

.dropdown-rightcontentL3 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL3 {
    position: relative;
}

    .dropmenurightL3:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL3:hover:after {
        color: #fff;
    }

    .dropmenurightL3:hover .dropdown-rightcontentL3 {
        display: block;
    }
/*------------------------*/
.dropmenurightL4 .dropdown-rightcontentL4 {
    display: none;
}

.dropdown-rightcontentL4 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL4 {
    position: relative;
}

    .dropmenurightL4:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL4:hover:after {
        color: #fff;
    }

    .dropmenurightL4:hover .dropdown-rightcontentL4 {
        display: block;
    }

/*--------------------------------*/
.dropmenurightL5 .dropdown-rightcontentL5 {
    display: none;
}

.dropdown-rightcontentL5 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL5 {
    position: relative;
}

    .dropmenurightL5:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL5:hover:after {
        color: #fff;
    }

    .dropmenurightL5:hover .dropdown-rightcontentL5 {
        display: block;
    }

/*--------------------------------*/
.dropmenurightL6 .dropdown-rightcontentL6 {
    display: none;
}

.dropdown-rightcontentL6 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL6 {
    position: relative;
}

    .dropmenurightL6:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL6:hover:after {
        color: #fff;
    }

    .dropmenurightL6:hover .dropdown-rightcontentL6 {
        display: block;
    }

/*--------------------------------*/
.dropmenurightL7 .dropdown-rightcontentL7 {
    display: none;
}

.dropdown-rightcontentL7 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL7 {
    position: relative;
}

    .dropmenurightL7:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL7:hover:after {
        color: #fff;
    }

    .dropmenurightL7:hover .dropdown-rightcontentL7 {
        display: block;
    }

/*--------------------------------*/
.dropmenurightL8 .dropdown-rightcontentL8 {
    display: none;
}

.dropdown-rightcontentL8 {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
    right: -181px;
}

.dropmenurightL8 {
    position: relative;
}

    .dropmenurightL8:after {
        font-family: "FontAwesome";
        content: "\f105";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        position: absolute;
        right: 12px;
        top: 10px;
        color: #000;
    }

    .dropmenurightL8:hover:after {
        color: #fff;
    }

    .dropmenurightL8:hover .dropdown-rightcontentL8 {
        display: block;
    }

/*--------------------------------*/
/*--------Ship Menu------------*/

.breadcrumbs .search {
    float: right;
    width: 34%;
}

    .breadcrumbs .search a {
        height: 33px;
        background: #777777;
        padding: 4px 13px;
        border: 1px solid #777777;
        border-radius: 0;
    }


.admin .dropdown-content {
    top: 40px;
    padding: 14px;
    right: 0;
    text-align: center;
    z-index: 9999999;
}

    .admin .dropdown-content h3 {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        border-bottom: 1px solid #eee;
        padding: 0 0 5px 0;
    }

    .admin .dropdown-content a {
        padding: 0;
    }

.admin .button.log {
    height: 37px;
    background: #e90000;
    border: 0;
    border: 2px solid #fff;
    padding: 0px;
    border-radius: 22px;
    text-align: center;
    width: 37px;
}

.admin {
    margin: 15px 0 0 0;
    /* float: right; */
}

.logo img {
    width: 100%;
    padding-left: 14px;
}

.admin .dropdown-content h3 span {
    display: block;
    font-size: 13px;
    padding: 3px;
}

.icon_box {
    width: 100%;
    margin-top: -14px;
}

    .icon_box h5 {
        font-size: 18px;
        padding: 20px 0;
        color: #000000;
        font-weight: 400;
    }

.ta_title {
    padding: 23px 0 26px;
}

.paginate_button.current {
    color: #fff !important;
    background: #e90000 !important;
    border: 0 !important;
    box-shadow: none !important;
    padding: 4px 12px !important;
}

.page_padding {
    margin: 0 30px;
}

.ta_titlecargo {
    padding: 20px 0 15px;
}

.ta {
    padding: 23px 0 8px;
    word-break: break-all;
}

.shipmenu .menu ul li a {
    height: 36px;
}

.shipmenu .pgnam {
    height: 34px;
    width: 100%;
    padding: 8px;
    border: 0;
}

.shipmenu .menu ul li {
    margin: 0 0 10px 0;
}

.ship_sec {
}

    .ship_sec img {
        width: 100%;
    }

.common_txt {
    margin-top: 30px;
}

    .common_txt h3 {
        font-weight: 400;
    }

    .common_txt ul {
    }

        .common_txt ul li {
            list-style-type: none;
        }

            .common_txt ul li a {
                font-size: 15px;
                line-height: 28px;
                color: #747474;
                font-weight: 300;
            }

            .common_txt ul li span {
                color: #e90000;
                font-weight: 500;
                padding-right: 10px;
            }

.sitxt {
    font-size: 25px;
    padding-left: 13px;
}

.bnr_bottom_sec a {
    color: #000;
    width: 100%;
}

.texthighlight {
    background: #00FF00;
    padding: 1px;
    border: #00CC00 dotted 1px;
}

.steps_item:hover {
    color: #000;
}

.dropbtn img:last-child {
    display: none;
    margin: 0 auto;
    transition: .5s ease-in-out;
}

.dropbtn:hover img:last-child {
    display: inline-block;
    transition: .5s ease-in-out;
}

.dropbtn:hover img:first-child {
    display: none;
    transition: .5s ease-in-out;
}

.sidebar {
    width: 0;
    opacity: 0;
}

    .sidebar .menu_panel {
        display: none;
    }

.sidebarf {
    width: 361px;
    opacity: 1;
    /* margin-top: 19px; */
    padding: 0;
}

    .sidebarf .menu_panel {
        display: block;
    }

.imgicon img:last-child {
    display: none;
    transition: .5s ease-in-out;
}

.imgicon:hover img:last-child {
    display: inline-block;
    transition: .5s ease-in-out;
}

.imgicon:hover img:first-child {
    display: none;
    transition: .5s ease-in-out;
}

.dropdown h5 a {
    font-size: 18px;
}






.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    width: 100%;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 87%;
        background-color: rgb(233 0 0 / 75%);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 4px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        height: auto;
        top: 138px;
        left: 8px;
        right: 0;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }

.volume .mainmenu .tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    width: 100%;
}

    .volume .mainmenu .tooltip .tooltiptext {
        width: 229px;
        background-color: rgb(233 0 0 / 82%);
        color: #fff;
        text-align: center;
        border-radius: 0;
        padding: 8px 8px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        height: auto;
        bottom: -3px;
        left: -452px;
        font-weight: 600;
        /* margin: 0 auto; */
        font-size: 16px;
        top: 0;
        line-height: initial;
        display: table;
    }

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.steps_content a:hover {
    color: #000;
}

.shipmenu .menu ul li:last-child {
    margin: 0;
}

.topright {
    text-align: right;
}

.one_part img {
    display: block;
    margin: 0 auto;
}

.topright li {
    display: inline-block;
    padding: 0 0px 0 15px;
}

.volume.sidebarf {
    width: 300px;
}

.mr-3, .mx-3 {
    margin-right: 0rem !important;
    border-radius: 0;
    height: 33px;
}

.container.volumeleftbody {
    max-width: 1198px;
}
.notification sup {
    background: #239c0d;
    color: #fff;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    top: -15px;
    right: 16px;
}

.hidis{display:none !important;}
.smallchar ul{}
    .smallchar ul li {
        font-size: 10px;
        padding: 2px 0;
    }






/*by Prasenjit*/
.spaceless {
    margin-right: -20px;
}
