.accordion {
    /*background-color: #eee;*/
    background-color: white;
    color: #444;
    cursor: pointer;
    /*padding: 18px;*/
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        /*background-color: #ccc;*/
        background-color: white;
    }

    .accordion:after {
        /*content: '\002B';*/
        content: url('../../images/Collapsed.png');
        color: #777;
        font-weight: bold;
        float: left;
        margin-right: 5px;
    }

.active:after {
    /*content: "\2212";*/
    content: url('../../images/Expanded.png');
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
