@model TCCCMS.Models.Manual

@{
    ViewBag.Title = "ISEPA";
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
@*<h2>ISEPA</h2>*@

<div id="ISEPAHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>