@model TCCCMS.Models.Manual

@{
    ViewBag.Title = "ProceduresExplained";
}

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
@*<h2>ProceduresExplained</h2>*@

<div id="ProceduresExplainedHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

