@model List<TCCCMS.Models.RevisionViewer>
<div class="col-sm-12 col-xs-12 marginTP10">
    @*<h2 class="ta">Revision Viewers </h2>*@
    <button class="accordion">Revision Viewers </button>
    <div class="panel marginTP10">
        <div class="row">
            <div class="col-md-12 bac1">

                <div style="margin:0 auto" class="tablecontainer">
                    <input type="hidden" id="hdnrole" />
                    <table id="RevisionViewerTable" class="display table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Viewer Name</th>
                                <th style="border-left:solid 1px; ">Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UserName ( @item.UserCode )</td> @*--Added 'UserCode on 25th May 2021 @BK'--*@
                                    <td style="border-left:solid 1px;">@item.RankName</td>
                                </tr>


                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
