<!-- Modal -->
@Html.Hidden("urlApproverUserPosition", @Url.Action("GetAllApproverUserPositionForDropDown", "Approver"))
@Html.Hidden("urlApproverUser", @Url.Action("GetApproverUserByApproverUserId", "Approver"))
<div class="modal fade" id="reviewedFilledUpFormModal" role="dialog">
    <div class="modal-dialog modal-lg ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #e90000;">
                <h4 class="modal-title colorWhite">Upload Filledup Form</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="ClearFields2();">&times;</button>
            </div>


            <div class="modal-body">
                @*<form>*@
                <div class="form-group">
                    <input type="hidden" id="hdnFilledUpFormID" />
                    <input type="hidden" id="hdnOriginalFormName" value="" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="">
                                <div class="col-sm-12 col-xs-12 marginTP10">
                                    <div class="row">

                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="file" id="fileUpload" maxlength="1"/>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                

                            </div>
                        </div>
                    </div>

                </div>
                @*</form>*@

            </div>


            <div class="modal-footer" style="background-color:lightgray;">
                <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000; width:138px;" id="btnAdd" onclick="return UploadReviewedFilledUpForm();">Upload</button>
                <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000;" data-dismiss="modal" onclick="ClearFields2();">Close</button>
            </div>
        </div>

    </div>
</div>
