
@{
    ViewBag.Title = "CommonToAllManualDashboard";
}

@*<h2>CommonToAllManual</h2>*@

<div class="ship_sec">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/images/shipimg.jpg" />
        </div>
        <div class="col-lg-6">
            <div class="common_txt">
                <h3>Common To All Manual</h3>
                <ul>
                    <li><span>></span> Procurement Policy Manual</li>
                    <li><span>></span> TCC Cyber Guidance(Shipboard)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

