@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "Company Pocily Manual";
}

@section Styles{
    <link href="~/css/TccAccordian.css" rel="stylesheet" />
   

}
<h2>Main Document - Volume 0</h2>

@Html.Raw(Model.ManualBodyHtml)



@section Scripts{
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

}

