
@model TCCCMS.Models.ShipManual
@{
    //ViewBag.Title = "Pages";
    ViewBag.Title = Model.BodyHeader;
}
@section Styles{
    <link href="~/Scripts/highlight/css/default.css" rel="stylesheet" />
    <style type="text/css">
        /*span.highlight {
            background-color: yellow;
            font-weight: bold;
        }*/

        .highlight {
            background: #b6ff00;
            padding: 1px;
            border: #00CC00 dotted 1px;
        }
        .pad30 {
            padding-left: 30px;
            padding-right: 30px;
            /*padding: 30px;*/
        }
        section::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
}


<div id="BodyHtml" class="searchdContent pad30 container">
    @Html.Raw(Model.BodyHtml)

</div>

@section Scripts{
    @*<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>*@
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/highlight/js/jquery.highlight.js"></script>
    <script src="~/js/Manual/ManualSearch.js"></script>

    <script type="text/javascript">


    </script>
}

