@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->
<style>
</style>

<div class="content_body wdth_chn">
    <div class="title_h">
        <h2><span>S</span>AFETY <span>M</span>ANAGEMENT <span>S</span>YSTEM</h2>
    </div>
    <div class="volume_text">
        <h3>VOLUME I</h3>
        <h5>TITLE: COMPANY POLICY MANUAL&nbsp;</h5>
    </div>
    <div class="sa_en_pro">
        <h5>SAFETY &amp; ENVIRONMENTAL PROTECTION</h5>
        <h6>Following the requirements of IMO - ISM Code for the Safe Operation of Ships and Pollution Provention</h6>
    </div>
    <div class="footer">
        <ul>
            <li><strong>Uncontrolled when printed</strong></li>
            <li>Revision 5.0.8</li>
            <li>Date:13 Dec 2019</li>
            <li><a href="#">View Revision Histroy</a></li>
            <li><a href="#">View Site Map</a></li>
        </ul>
    </div>
</div>