<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="xmlfilepath" value="E:\All Projects\TCCCMS-master\TCCCMS\TCCMS.Ship.ExportData\bin\Debug\xml\" />
    <add key="xmlfile" value="E:\All Projects\TCCCMS-master\TCCCMS\TCCMS.Ship.ExportData\bin\Debug\ZipFile\XmlFiles.zip" />


    <add key="xmlTicket" value="Ticket.xml" />
    <add key="xmlRevisionViewer" value="RevisionViewer.xml" />
    <add key="xmlFillupFormUpload" value="FillupFormUpload.xml" />
    <add key="xmlApprovedFillupForm" value="ApprovedFillupForm.xml" />

    <add key="xmlRevisionHeader" value="RevisionHeader.xml" />
    <add key="xmlRevisionHistory" value="RevisionHistory.xml" />

    <add key="OutputSize" value="10240000" />
    <!--<add key="SchedulerIntervalTime" value="120" />-->
    <!--*************value in Second*******2min**********-->
    <add key="SchedulerIntervalTime" value="28800" />
    <!--*************value in Second******8hr***********-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />


    <add key="OutputSize" value="10240000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>

    <add name="TCCCMSDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\SQLEXPRESS;Database=TCCCMSDB;User Id=sa;Password=12345;Trusted_Connection=False;" />
  </connectionStrings>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>