@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "A1LSRATD";
}

@*<h2>A1LSRATD</h2>*@
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="A1LSRATDHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>
