@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "COTWW";
}
@*<h2>COTWW</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="ManualHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>
