@model TCCCMS.Models.Manual
@{
    //ViewBag.Title = "Pages";
    ViewBag.Title = Model.ManualHeader;
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
@section Styles{
    <link href="~/Scripts/highlight/css/default.css" rel="stylesheet" />
    <style type="text/css">
       
        .highlight {
            background: #b6ff00;
            padding: 1px;
            border: #00CC00 dotted 1px;
        }
    </style>
}


<div id="BodyHtml" class="searchdContent">
    @Html.Raw(Model.ManualBodyHtml)

</div>

@Html.Partial("_pvFormPreviewModal")

@section Scripts{

    <script src="~/js/Manual/ManualSearch.js"></script>

    
}




