@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "PTUSC";
}
@*<h2>Manual</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="BodyContentHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>
