@model TCCCMS.Models.ShipManual
@{
    //ViewBag.Title = Model.ShipName;
    ViewBag.Title = "Notices";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}
@section Styles{
    <link href="~/css/TccAccordian.css" rel="stylesheet" />


}
@*<h2>Notices</h2>*@
<div class="container body-content">
    <h2>Notices</h2>
    <button type="button" class="button1 float-right btn btn-info btn-sm" style="background-color: #e90000;" id="btnShow" onclick="ExpandAll(this);">Show All</button>
    @*<button type="button" class="button1 float-right" id="btnPrint"  onclick="PrintHtml('');">print</button>*@
</div>

@Html.Raw(Model.BodyHtml)




@section Scripts{
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

        function ExpandAll(e) {
            var text = e.innerText;
            console.log(text);
            var acc = document.getElementsByClassName("accordion");
            var i;
            if (text === "Show All") {
                e.innerText = "Hide All";
            }
            else if (text === "Hide All") {
                e.innerText = "Show All";
            }
            for (i = 0; i < acc.length; i++) {
                //this.classList.toggle("active");
                var btn = acc[i];
                var panel = btn.nextElementSibling;
                if (text === "Show All") {
                    btn.classList.toggle("active");
                    panel.style.display = "block";
                }
                else if (text === "Hide All") {
                    btn.classList.toggle("active");
                    panel.style.display = "none";
                }
                
                
            }
        }
    </script>

}