<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="Importlog.txt" />
			<target name="logconsole" xsi:type="Console" />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="logconsole" />
			<logger name="*" minlevel="Debug" writeTo="logfile" />
		</rules>
	</nlog>
  
  
    <appSettings>
		<add key="XmlZipPath"                         value="D:\AllProjects\RestHourExport\Zip File\XmlFiles.zip" />
      <add key="iisPath"													value="C:\inetpub\wwwroot\TCCCMS" />
		<add key="ExtractFilePath"                    value="\Extract File" />
		<add key="xmlTicket"                          value="Ticket.xml" />
		<add key="xmlRevisionHeader"                  value="RevisionHeader.xml" />
		<add key="xmlRevisionHistory"                 value="RevisionHistory.xml" />
		<add key="xmlRevisionViewer"                  value="RevisionViewer.xml" />
		<add key="xmlFillupFormUpload"                value="FillupFormUpload.xml" />
		<add key="xmlApprovedFillupForm"              value="ApprovedFillupForm.xml" />
      
      
		<add key="ClientSettingsProvider.ServiceUri"    value="" />
		<add key="SchedulerIntervalTime" value="240" /><!--*************value in Second*******2min**********-->
		 <!--<add key="SchedulerIntervalTime" value="28800" />--><!--*************value in Second******8hr***********-->
	</appSettings>
    <connectionStrings >
		<add name="TCCCMSDBConnectionString" connectionString="Server=DESKTOP-R1V2FTS\SQLEXPRESS;Database=TCCCMSDB;User Id=sa;Password=12345;Trusted_Connection=False;"  />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>