@model TCCCMS.Models.Manual

@{
    ViewBag.Title = "Introduction";
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
@*<h2>Introduction</h2>*@
<div id="IntroductionHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

