USE [TCCCMSDB]
GO
/****** Object:  FullTextCatalog [manual_catalog]    Script Date: 09-01-2021 09:58:53 AM ******/
CREATE FULLTEXT CATALOG [manual_catalog] 
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_CSVToTable]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[ufn_CSVToTable] ( @StringInput VARCHAR(8000), @Delimiter nvarchar(1))
RETURNS @OutputTable TABLE ( [String] VARCHAR(10) )
AS
BEGIN

    DECLARE @String    VARCHAR(10)

    WHILE LEN(@StringInput) > 0
    BEGIN
        SET @String      = LEFT(@StringInput, 
                                ISNULL(NULLIF(CHARINDEX(@Delimiter, @StringInput) - 1, -1),
                                LEN(@StringInput)))
        SET @StringInput = SUBSTRING(@StringInput,
                                     ISNULL(NULLIF(CHARINDEX(@Delimiter, @StringInput), 0),
                                     LEN(@StringInput)) + 1, LEN(@StringInput))

        INSERT INTO @OutputTable ( [String] )
        VALUES ( @String )
    END

    RETURN
END







































GO
/****** Object:  UserDefinedFunction [dbo].[ufunc_GetDateFormat]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ufunc_GetDateFormat]()    
returns int     
Begin 
declare @x int 
select @x = convert(int,ConfigValue) from tblConfig Where KeyName = 'dateformat' 
return @x 
End

GO
/****** Object:  Table [dbo].[tblForms]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblForms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[FormName] [varchar](500) NOT NULL,
	[Description] [varchar](1000) NULL,
	[Path] [varchar](500) NULL,
	[IsActive] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_tblForms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFormsCategory]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFormsCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CatecoryName] [varchar](250) NOT NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tblFormsCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGroupMaster]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGroupMaster](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](200) NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedBy] [varchar](50) NULL,
 CONSTRAINT [PK_tblGroupMaster] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblManual]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblManual](
	[ManualId] [int] IDENTITY(1,1) NOT NULL,
	[VolumeId] [int] NOT NULL,
	[ManualFileName] [varbinary](max) NOT NULL,
	[ManualHTML] [varbinary](max) NOT NULL,
	[ManualHeader] [varchar](500) NULL,
	[ManualBodyText] [varchar](max) NULL,
	[ActionName] [varchar](500) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Extension]  AS ('.html'),
	[ManualBodyHtml] [varchar](max) NULL,
	[ControllerName] [varchar](250) NULL,
 CONSTRAINT [Pk_tblManual] PRIMARY KEY CLUSTERED 
(
	[ManualId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblManualHistory]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblManualHistory](
	[ManualHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[ManualId] [int] NOT NULL,
	[ChapterName] [varchar](max) NULL,
	[Section] [varchar](max) NOT NULL,
	[ChangeComment] [varchar](500) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [Pk_tblManualHistory] PRIMARY KEY CLUSTERED 
(
	[ManualHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPermissionMaster]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermissionMaster](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](200) NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
 CONSTRAINT [PK_tblPermissionMaster] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPermissionRoleMapping]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermissionRoleMapping](
	[PermissionRoleId] [int] IDENTITY(1,1) NOT NULL,
	[PermssionId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRank]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRank](
	[RankId] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [varchar](200) NOT NULL,
	[Description] [varchar](200) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tblRank] PRIMARY KEY CLUSTERED 
(
	[RankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoleMaster]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoleMaster](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](200) NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [nchar](10) NULL,
 CONSTRAINT [PK_tblRoleMaster] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRolGroupMapping]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRolGroupMapping](
	[RoleGroupId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
 CONSTRAINT [PK_tblRolGroupMapping] PRIMARY KEY CLUSTERED 
(
	[RoleGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserGroupMapping]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserGroupMapping](
	[UserGroupId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
 CONSTRAINT [PK_tblUserGroupMapping] PRIMARY KEY CLUSTERED 
(
	[UserGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserMaster]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserMaster](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NOT NULL,
	[Password] [varchar](200) NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [int] NULL,
	[Email] [varchar](200) NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
	[Gender] [varchar](50) NULL,
	[VesselIMO] [varchar](50) NULL,
	[RankId] [int] NOT NULL,
 CONSTRAINT [PK_tblUserMaster] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVolumeMaster]    Script Date: 09-01-2021 09:58:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVolumeMaster](
	[VolumeId] [int] IDENTITY(1,1) NOT NULL,
	[VolumeName] [varchar](200) NOT NULL,
	[VolumeMasterDesc] [varchar](500) NOT NULL,
	[ControllerName] [varchar](250) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [Pk_tblVolumeMaster] PRIMARY KEY CLUSTERED 
(
	[VolumeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblFormsCategory] ON 

INSERT [dbo].[tblFormsCategory] ([ID], [CatecoryName], [Description], [IsActive]) VALUES (-1, N'Please Select One', N'Select Category', 0)
INSERT [dbo].[tblFormsCategory] ([ID], [CatecoryName], [Description], [IsActive]) VALUES (1, N'Admin', N'Admin', 1)
INSERT [dbo].[tblFormsCategory] ([ID], [CatecoryName], [Description], [IsActive]) VALUES (2, N'Caterring', N'Caterring', 1)
SET IDENTITY_INSERT [dbo].[tblFormsCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblGroupMaster] ON 

INSERT [dbo].[tblGroupMaster] ([GroupId], [GroupName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'fdd2', 0, N'hfgh', NULL)
INSERT [dbo].[tblGroupMaster] ([GroupId], [GroupName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'jkkjk', 1, N'ghhgjg', N'hfgjhgj')
INSERT [dbo].[tblGroupMaster] ([GroupId], [GroupName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1002, N'fdfhdf2', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblGroupMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tblManual] ON 

SET IDENTITY_INSERT [dbo].[tblManual] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPermissionMaster] ON 

INSERT [dbo].[tblPermissionMaster] ([PermissionId], [PermissionName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'hggh', 1, N'jkjh', N'jkhjk')
SET IDENTITY_INSERT [dbo].[tblPermissionMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPermissionRoleMapping] ON 

INSERT [dbo].[tblPermissionRoleMapping] ([PermissionRoleId], [PermssionId], [RoleId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (5, 1, 1, 1, N'ghfg', N'bnmn')
INSERT [dbo].[tblPermissionRoleMapping] ([PermissionRoleId], [PermssionId], [RoleId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (7, 1, 1, 1, N'jgj', NULL)
INSERT [dbo].[tblPermissionRoleMapping] ([PermissionRoleId], [PermssionId], [RoleId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (8, 1, 1, 1, N'jgj', NULL)
SET IDENTITY_INSERT [dbo].[tblPermissionRoleMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRank] ON 

INSERT [dbo].[tblRank] ([RankId], [RankName], [Description], [IsActive]) VALUES (1, N'Master', N'Master', 1)
INSERT [dbo].[tblRank] ([RankId], [RankName], [Description], [IsActive]) VALUES (2, N'Chief Off', N'Chief Off', 1)
INSERT [dbo].[tblRank] ([RankId], [RankName], [Description], [IsActive]) VALUES (3, N'2nd Off', N'2nd Off', 1)
SET IDENTITY_INSERT [dbo].[tblRank] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRoleMaster] ON 

INSERT [dbo].[tblRoleMaster] ([RoleId], [RoleName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'hh', 1, N'ohjh', N'jlkn      ')
INSERT [dbo].[tblRoleMaster] ([RoleId], [RoleName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'kjhj', 0, N'mnnm', N',fcnb     ')
SET IDENTITY_INSERT [dbo].[tblRoleMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUserGroupMapping] ON 

INSERT [dbo].[tblUserGroupMapping] ([UserGroupId], [UserId], [GroupId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (5, 3, 1, 1, N'ljkl', N'ljkljk')
SET IDENTITY_INSERT [dbo].[tblUserGroupMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUserMaster] ON 

INSERT [dbo].[tblUserMaster] ([UserId], [UserName], [Password], [CreatedOn], [IsActive], [Email], [CreatedBy], [ModifiedBy], [Gender], [VesselIMO], [RankId]) VALUES (3, N'gdfg', N'fdgfd', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0, N'hgf', N'gfhhgfh', N'gfhgfh', N'gfhfg', N'gfhfg', 1)
INSERT [dbo].[tblUserMaster] ([UserId], [UserName], [Password], [CreatedOn], [IsActive], [Email], [CreatedBy], [ModifiedBy], [Gender], [VesselIMO], [RankId]) VALUES (4, N'un', N'pw', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0, N'eml', N'cby', N'mby', N'm', N'123456', 1)
INSERT [dbo].[tblUserMaster] ([UserId], [UserName], [Password], [CreatedOn], [IsActive], [Email], [CreatedBy], [ModifiedBy], [Gender], [VesselIMO], [RankId]) VALUES (1004, N'un', N'pw', CAST(N'2021-01-04T18:20:00.000' AS DateTime), 0, N'eml', N'cby', NULL, N'm', N'123456', 1)
SET IDENTITY_INSERT [dbo].[tblUserMaster] OFF
GO
ALTER TABLE [dbo].[tblPermissionRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblPermissionRoleMapping_tblPermissionMaster] FOREIGN KEY([PermssionId])
REFERENCES [dbo].[tblPermissionMaster] ([PermissionId])
GO
ALTER TABLE [dbo].[tblPermissionRoleMapping] CHECK CONSTRAINT [FK_tblPermissionRoleMapping_tblPermissionMaster]
GO
ALTER TABLE [dbo].[tblPermissionRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblPermissionRoleMapping_tblRoleMaster] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tblRoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[tblPermissionRoleMapping] CHECK CONSTRAINT [FK_tblPermissionRoleMapping_tblRoleMaster]
GO
ALTER TABLE [dbo].[tblRolGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblRolGroupMapping_tblGroupMaster] FOREIGN KEY([GroupId])
REFERENCES [dbo].[tblGroupMaster] ([GroupId])
GO
ALTER TABLE [dbo].[tblRolGroupMapping] CHECK CONSTRAINT [FK_tblRolGroupMapping_tblGroupMaster]
GO
ALTER TABLE [dbo].[tblRolGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblRolGroupMapping_tblRoleMaster] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tblRoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[tblRolGroupMapping] CHECK CONSTRAINT [FK_tblRolGroupMapping_tblRoleMaster]
GO
ALTER TABLE [dbo].[tblUserGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblUserGroupMapping_tblGroupMaster] FOREIGN KEY([GroupId])
REFERENCES [dbo].[tblGroupMaster] ([GroupId])
GO
ALTER TABLE [dbo].[tblUserGroupMapping] CHECK CONSTRAINT [FK_tblUserGroupMapping_tblGroupMaster]
GO
ALTER TABLE [dbo].[tblUserGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblUserGroupMapping_tblUserMaster] FOREIGN KEY([UserId])
REFERENCES [dbo].[tblUserMaster] ([UserId])
GO
ALTER TABLE [dbo].[tblUserGroupMapping] CHECK CONSTRAINT [FK_tblUserGroupMapping_tblUserMaster]
GO
ALTER TABLE [dbo].[tblUserMaster]  WITH CHECK ADD  CONSTRAINT [FK_tblUserMaster_tblRank] FOREIGN KEY([RankId])
REFERENCES [dbo].[tblRank] ([RankId])
GO
ALTER TABLE [dbo].[tblUserMaster] CHECK CONSTRAINT [FK_tblUserMaster_tblRank]
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryList]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCategoryList]
as
begin
	select ID,CatecoryName,[Description]
	from tblFormsCategory
end
GO
/****** Object:  StoredProcedure [dbo].[SaveFormsDetails]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SaveFormsDetails]
(
	@Name varchar(500) ,
	@Path varchar(500),
	@Description varchar(1000),
	@CategoryId int,
	@User int
)
AS
BEGIN
	
	IF NOT EXISTS(select [FormName] FROM tblForms WHERE [FormName] = @Name)
	 BEGIN
		SET NOCOUNT ON;
		Insert into tblForms ([FormName],[CategoryId],[Description],[Path],[CreatedOn],CreatedBy)
		values (@Name,@CategoryId,@Description,@Path,GETDATE(),@User)
	END

	SET NOCOUNT OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchManuals]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--declare @x int Exec SearchManualsPagewise 1,10, @x out, 1, 'Business'

--declare @x int Exec SearchManuals 1, 'Business'
CREATE PROCEDURE [dbo].[SearchManuals]
(
	@VolumeId int = 0,
	@SearchText varchar(1000)
)
AS
	BEGIN
		set nocount on;
		declare @strSQL varchar(max)

		set @strSQL='select ROW_NUMBER() OVER(  ORDER BY [ManualHeader] ASC )AS RowNumber,'
		--set @strSQL='select '
		set @strSQL=@strSQL +' ManualId, CONVERT(VARCHAR(MAX), [ManualFileName]) AS [ManualFileName],'
        set @strSQL=@strSQL +' CONVERT(VARCHAR(MAX), [ManualHTML]) AS [ManualHTML] ,[ControllerName],'
		set @strSQL=@strSQL +'[ActionName],[ManualBodyText],[ManualHeader] '
		set @strSQL=@strSQL +' FROM tblManual m '
		set @strSQL=@strSQL +' WHERE 1=1 '
		
		IF(isnull(@VolumeId,0 )<> 0)
			begin
				set @strSQL= @strSQL + ' AND VolumeId ='+ CONVERT(varchar,@VolumeId)
			end
		if(isnull(@SearchText,'') <>'')
			begin
				set @strSQL= @strSQL + ' AND FREETEXT(*,''' + @SearchText + ''') '
			end


		exec(@strSQL)
		set nocount off;
	END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteGroupMaster]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- stpDeleteGroupMaster 1
create procedure [dbo].[stpDeleteGroupMaster] 
( 
@GroupId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0
BEGIN
UPDATE tblGroupMaster SET IsActive = 0
WHERE GroupId = @GroupId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeletePermissionRole]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpDeletePermissionRole 6
CREATE procedure [dbo].[stpDeletePermissionRole] 
( 
@PermissionRoleId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0



BEGIN
--UPDATE tblUserGroupMapping SET IsActive = 0
Delete from tblPermissionRoleMapping
WHERE PermissionRoleId = @PermissionRoleId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteRoleMaster]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpDeleteRoleMaster 2
CREATE procedure [dbo].[stpDeleteRoleMaster] 
( 
@RoleId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0
BEGIN
UPDATE tblRoleMaster SET IsActive = 0
WHERE RoleId = @RoleId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteUserGroup]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec stpDeleteUserGroup '1'

CREATE procedure [dbo].[stpDeleteUserGroup] 
( 
@UserGroupId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0



BEGIN
--UPDATE tblUserGroupMapping SET IsActive = 0
Delete from tblUserGroupMapping
WHERE UserGroupId = @UserGroupId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteUserMaster]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpDeleteUserMaster '3'

CREATE procedure [dbo].[stpDeleteUserMaster] 
( 
@UserId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0
BEGIN
UPDATE tblUserMaster SET IsActive = 0
WHERE UserId = @UserId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetAllGroupMaster]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetAllGroupMaster
create PROCEDURE [dbo].[stpGetAllGroupMaster]
--(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
--)
AS
Begin
Select  GroupName,CreatedBy,ModifiedBy

FROM dbo.tblGroupMaster

--WHERE UM.UserId= @UserId 
--AND UM.IsActive=1

where IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetAllGroupMasterPageWise]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  declare @x int Exec stpGetAllGroupMasterPageWise 1,10, @x out
create PROCEDURE [dbo].[stpGetAllGroupMasterPageWise]
 (
      @PageIndex INT = 1,
      @PageSize INT = 10,
      @RecordCount INT OUTPUT
	  --,@VesselID int
)
AS
BEGIN
      SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [GroupName] ASC
      )AS RowNumber

	  ,GroupId
     ,GroupName
	 ,CreatedBy
	 ,ModifiedBy

 INTO #Results

    FROM dbo.tblGroupMaster 
    --where UserId=@UserId
	where IsActive=1

      SELECT @RecordCount = COUNT(*)
      FROM #Results       
      SELECT * FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
      --AND VesselID = @VesselID
      DROP TABLE #Results
END

GO
/****** Object:  StoredProcedure [dbo].[stpGetAllUser]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetAllUser
CREATE PROCEDURE [dbo].[stpGetAllUser]
--(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
--)
AS
Begin
Select  UserName,CreatedOn,Email,CreatedBy,ModifiedBy,Gender,VesselIMO,R.RankName

FROM dbo.tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

--WHERE UM.UserId= @UserId 
--AND UM.IsActive=1

where UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetAllUserGroupByUserID]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--   exec stpGetAllUserGroupByUserID  3
create PROCEDURE [dbo].[stpGetAllUserGroupByUserID]
(
@UserId int--,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  UM.UserName,GM.GroupName,UGM.CreatedBy,UGM.ModifiedBy

FROM dbo.tblUserGroupMapping UGM
LEFT OUTER JOIN tblUserMaster UM
ON UGM.UserId = UM.UserId

LEFT OUTER JOIN tblGroupMaster GM
ON GM.GroupId = UGM.GroupId

WHERE UGM.UserId= @UserId 
AND UGM.IsActive=1

--where UGM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetAllUserPageWise]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  declare @x int Exec stpGetAllUserPageWise 1,10, @x out
CREATE PROCEDURE [dbo].[stpGetAllUserPageWise]
 (
      @PageIndex INT = 1,
      @PageSize INT = 10,
      @RecordCount INT OUTPUT
	  --,@VesselID int
)
AS
BEGIN
      SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [UserName] ASC
      )AS RowNumber

	  ,UserId
     ,UserName
	 --,SUBSTRING(CreatedOn, 1, 10)as CreatedOn
	 ,  convert(varchar, getdate(), 103) as CreatedOn
	 ,Email
	 ,CreatedBy
	 ,ModifiedBy
	 ,Gender
	 ,VesselIMO
	 ,R.RankName

 INTO #Results

    FROM dbo.tblUserMaster UM
    LEFT OUTER JOIN tblRank R
    ON UM.RankId = R.RankId
    --where UserId=@UserId
	where UM.IsActive=1

      SELECT @RecordCount = COUNT(*)
      FROM #Results       
      SELECT * FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
      --AND VesselID = @VesselID
      DROP TABLE #Results
END

GO
/****** Object:  StoredProcedure [dbo].[stpGetGroupMasterByGroupId]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetGroupMasterByGroupId 3
create PROCEDURE [dbo].[stpGetGroupMasterByGroupId]
(
@GroupId int
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  GroupId, GroupName
		--,CreatedBy,ModifiedBy

FROM tblGroupMaster 

WHERE GroupId= @GroupId
AND IsActive=1
End


GO
/****** Object:  StoredProcedure [dbo].[stpGetUserByEmailId]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetUserByEmailId "hgf1"
CREATE PROCEDURE [dbo].[stpGetUserByEmailId]
(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
@Email varchar(200)
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  UserName,CreatedOn,Email,CreatedBy,ModifiedBy,Gender,VesselIMO,R.RankName

FROM dbo.tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

WHERE UM.Email= @Email 
AND UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetUserByIMO]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetUserByIMO "gfhfg"
create PROCEDURE [dbo].[stpGetUserByIMO]
(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
@VesselIMO varchar(50)--,
--@RankId int  
)
AS
Begin
Select  UserName,CreatedOn,Email,CreatedBy,ModifiedBy,Gender,VesselIMO,R.RankName

FROM dbo.tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

WHERE UM.VesselIMO= @VesselIMO 
AND UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetUserByRank]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetUserByRank 1
create PROCEDURE [dbo].[stpGetUserByRank]
(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
@RankId int  
)
AS
Begin
Select  UserName,CreatedOn,Email,CreatedBy,ModifiedBy,Gender,VesselIMO,R.RankName

FROM dbo.tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

WHERE UM.RankId= @RankId 
AND UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetUserByUserId]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetUserByUserId 3
CREATE PROCEDURE [dbo].[stpGetUserByUserId]
(
@UserId int
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  UserId, UserName, [Password],
        CreatedOn, --ISNULL(REPLACE(REPLACE(CONVERT(varchar(12),CreatedOn,dbo.ufunc_GetDateFormat()), ' ','-'), ',',''), '-') CreatedOn, 
        Email
		--,CreatedBy,ModifiedBy
		,Gender,VesselIMO
		, UM.RankId 
		--,R.RankName

FROM tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

WHERE UM.UserId= @UserId 
AND UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpSavePermissionRole]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpSavePermissionRole NULL,1,1,"jgj","smmn"
CREATE PROCEDURE [dbo].[stpSavePermissionRole]
(
@PermissionRoleId int ,
@PermssionId int,
@RoleId int,
--@IsActive int,
@CreatedBy varchar(200),
@ModifiedBy varchar(200)
)
AS
BEGIN
IF @PermissionRoleId IS NULL
 BEGIN
	Insert into tblPermissionRoleMapping (PermssionId,RoleId,IsActive,CreatedBy)
	values (@PermssionId,@RoleId,1,@CreatedBy)
END
--ELSE
--BEGIN
--UPDATE [dbo].tblUserGroupMapping SET UserId=@UserId, ModifiedBy=@ModifiedBy ,GroupId= String FROM ufn_CSVToTable(@SelectedGroup,',')
--	WHERE UserGroupId=@UserGroupId 
--	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 

--END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateGroupMaster]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  exec stpSaveUpdateGroupMaster NULL,'jkkjk' ,"ghhgjg","hfgjhgj"

CREATE PROCEDURE [dbo].[stpSaveUpdateGroupMaster]
(
	@GroupId int,
@GroupName varchar(200),
--@IsActive int,
@CreatedBy varchar(200),
@ModifiedBy varchar(200)
)
AS
BEGIN
IF @GroupId IS NULL
 BEGIN
	Insert into tblGroupMaster (GroupName,IsActive,CreatedBy)
	values(@GroupName,1,@CreatedBy)
END
ELSE
BEGIN
UPDATE tblGroupMaster SET GroupName=@GroupName, ModifiedBy=@ModifiedBy
	WHERE GroupId=@GroupId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 
	--AND CreatedBy=@CreatedBy AND ModifiedBy=@ModifiedBy AND Gender=@Gender AND VesselIMO=@VesselIMO AND RankId=@RankId

END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateRoleMaster]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec stpSaveUpdateRoleMaster NULL,'jkkjk' ,"ghhgjg","hfgjhgj"

CREATE PROCEDURE [dbo].[stpSaveUpdateRoleMaster]
(
	@RoleId int,
@RoleName varchar(200),
--@IsActive int,
@CreatedBy varchar(200),
@ModifiedBy varchar(200)
)
AS
BEGIN
IF @RoleId IS NULL
 BEGIN
	Insert into tblRoleMaster (RoleName,IsActive,CreatedBy)
	values(@RoleName,1,@CreatedBy)
END
ELSE
BEGIN
UPDATE tblRoleMaster SET RoleName=@RoleName, ModifiedBy=@ModifiedBy
	WHERE RoleId =@RoleId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 
	--AND CreatedBy=@CreatedBy AND ModifiedBy=@ModifiedBy AND Gender=@Gender AND VesselIMO=@VesselIMO AND RankId=@RankId

END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateUser]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec stpSaveUpdateUser NULL,"un","pw","eml","cby","mby","m","123456",1

CREATE PROCEDURE [dbo].[stpSaveUpdateUser]
(
	@UserId int,
@UserName varchar(200),
@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
@Email varchar(200),
@CreatedBy varchar(200),
@ModifiedBy varchar(200),
@Gender varchar(50),
@VesselIMO varchar(50),
@RankId int 
)
AS
BEGIN
IF @UserId IS NULL
 BEGIN
	Insert into tblUserMaster (UserName,[Password],CreatedOn,IsActive,Email,CreatedBy,Gender,VesselIMO,RankId)
	values(@UserName,@Password,GETDATE(),1,@Email,@CreatedBy,@Gender,@VesselIMO,@RankId)
END
ELSE
BEGIN
UPDATE [dbo].tblUserMaster SET UserName=@UserName,[Password]=@Password,CreatedOn=GETDATE(),Email=@Email,
                               ModifiedBy=@ModifiedBy,Gender=@Gender,VesselIMO=@VesselIMO,RankId=@RankId 
	WHERE UserId=@UserId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 
	--AND CreatedBy=@CreatedBy AND ModifiedBy=@ModifiedBy AND Gender=@Gender AND VesselIMO=@VesselIMO AND RankId=@RankId

END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateUserGroup]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec stpSaveUpdateUserGroup NULL , 3,"hghjg", "kjhk","kkjkkjh"-----------------------------

CREATE PROCEDURE [dbo].[stpSaveUpdateUserGroup]
(
	@UserGroupId int,
@UserId int ,
--@GroupId int ,
@SelectedGroup varchar(1000),
--@IsActive int,
@CreatedBy varchar(200),
@ModifiedBy varchar(200)

)
AS
BEGIN
IF @UserGroupId IS NULL
 BEGIN
	Insert into tblUserGroupMapping (UserId,IsActive,CreatedBy,GroupId)
	select @UserId, 1, @CreatedBy, String FROM ufn_CSVToTable(@SelectedGroup,',')
END
ELSE
BEGIN
UPDATE [dbo].tblUserGroupMapping SET UserId=@UserId, ModifiedBy=@ModifiedBy ,GroupId= String FROM ufn_CSVToTable(@SelectedGroup,',')
	WHERE UserGroupId=@UserGroupId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 

END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllGroupsForDrp]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllGroupsForDrp
create procedure [dbo].[usp_GetAllGroupsForDrp]
--(
--@VesselID int
--)
AS
Begin

Select GroupId, GroupName
from tblGroupMaster
--Where VesselID=@VesselID
End
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllRanksForDrp]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllRanksForDrp
CREATE procedure [dbo].[usp_GetAllRanksForDrp]
--(
--@VesselID int
--)
AS
Begin

Select RankId, RankName
from tblRank
--Where VesselID=@VesselID
End
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllUserForDrp]    Script Date: 09-01-2021 09:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllUserForDrp
create procedure [dbo].[usp_GetAllUserForDrp]
--(
--@VesselID int
--)
AS
Begin

Select UserId, UserName
from tblUserMaster
--Where VesselID=@VesselID
End
GO
