USE [TCCCMSDB]
GO
/****** Object:  FullTextCatalog [manual_catalog]    Script Date: 27-01-2021 09:47:20 AM ******/
CREATE FULLTEXT CATALOG [manual_catalog] 
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_CSVToTable]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[ufn_CSVToTable] ( @StringInput VARCHAR(8000), @Delimiter nvarchar(1))
RETURNS @OutputTable TABLE ( [String] VARCHAR(10) )
AS
BEGIN

    DECLARE @String    VARCHAR(10)

    WHILE LEN(@StringInput) > 0
    BEGIN
        SET @String      = LEFT(@StringInput, 
                                ISNULL(NULLIF(CHARINDEX(@Delimiter, @StringInput) - 1, -1),
                                LEN(@StringInput)))
        SET @StringInput = SUBSTRING(@StringInput,
                                     ISNULL(NULLIF(CHARINDEX(@Delimiter, @StringInput), 0),
                                     LEN(@StringInput)) + 1, LEN(@StringInput))

        INSERT INTO @OutputTable ( [String] )
        VALUES ( @String )
    END

    RETURN
END







































GO
/****** Object:  UserDefinedFunction [dbo].[ufunc_GetDateFormat]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ufunc_GetDateFormat]()    
returns int     
Begin 
declare @x int 
select @x = convert(int,ConfigValue) from tblConfig Where KeyName = 'dateformat' 
return @x 
End

GO
/****** Object:  Table [dbo].[tblApprover]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApprover](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripton] [varchar](100) NULL,
 CONSTRAINT [PK_tblApprover] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblApproverMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApproverMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VesselIMONumber] [int] NOT NULL,
	[ShipId] [int] NOT NULL,
	[RankId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ApproverId] [int] NULL,
	[IsActive] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_tblApproverMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblForms]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblForms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[FormName] [varchar](500) NOT NULL,
	[Description] [varchar](1000) NULL,
	[Path] [varchar](500) NULL,
	[IsActive] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Version] [varchar](50) NULL,
 CONSTRAINT [PK_tblForms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFormsArchiveLog]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFormsArchiveLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[FormsVersion] [varchar](50) NULL,
	[Operation] [varchar](20) NULL,
	[ArchivedDate] [datetime] NULL,
 CONSTRAINT [PK_tblFormsArchiveLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFormsCategory]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFormsCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CatecoryName] [varchar](250) NOT NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tblFormsCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFormsUpdateNotification]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFormsUpdateNotification](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[ShipId] [int] NOT NULL,
	[Operation] [varchar](20) NULL,
	[UpdateNotifyDate] [datetime] NULL,
	[IsUpdate] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblFormsUpdateNotification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFormsUploaded]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFormsUploaded](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[ShipId] [int] NOT NULL,
	[FormsPath] [varchar](250) NULL,
	[FormsName] [varchar](500) NULL,
	[IsApprove] [int] NULL,
	[ApprovedOn] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_tblFormsUploaded] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFormsUploadedApproverMapping]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFormsUploadedApproverMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UploadedFormId] [int] NOT NULL,
	[ApproverId] [int] NOT NULL,
	[IsApprove] [int] NULL,
	[ApprovedOn] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[ApproverUserId] [int] NULL,
 CONSTRAINT [PK_tblFormsUploadedApproverMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGroupMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGroupMaster](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](200) NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedBy] [varchar](50) NULL,
 CONSTRAINT [PK_tblGroupMaster] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblManual]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblManual](
	[ManualId] [int] IDENTITY(1,1) NOT NULL,
	[VolumeId] [int] NOT NULL,
	[ManualFileName] [varbinary](max) NOT NULL,
	[ManualHTML] [varbinary](max) NOT NULL,
	[ManualHeader] [varchar](500) NULL,
	[ManualBodyText] [varchar](max) NULL,
	[ActionName] [varchar](500) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Extension]  AS ('.html'),
	[ManualBodyHtml] [varchar](max) NULL,
	[ControllerName] [varchar](250) NULL,
 CONSTRAINT [Pk_tblManual] PRIMARY KEY CLUSTERED 
(
	[ManualId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblManualHistory]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblManualHistory](
	[ManualHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[ManualId] [int] NOT NULL,
	[ChapterName] [varchar](max) NULL,
	[Section] [varchar](max) NOT NULL,
	[ChangeComment] [varchar](500) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [Pk_tblManualHistory] PRIMARY KEY CLUSTERED 
(
	[ManualHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPermissionMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermissionMaster](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](200) NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
 CONSTRAINT [PK_tblPermissionMaster] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPermissionRoleMapping]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermissionRoleMapping](
	[PermissionRoleId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRank]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRank](
	[RankId] [int] IDENTITY(1,1) NOT NULL,
	[RankName] [varchar](200) NOT NULL,
	[Description] [varchar](200) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tblRank] PRIMARY KEY CLUSTERED 
(
	[RankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoleMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoleMaster](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](200) NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
 CONSTRAINT [PK_tblRoleMaster] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRolGroupMapping]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRolGroupMapping](
	[RoleGroupId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
 CONSTRAINT [PK_tblRolGroupMapping] PRIMARY KEY CLUSTERED 
(
	[RoleGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblShip]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShip](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShipName] [nvarchar](21) NULL,
	[IMONumber] [int] NOT NULL,
	[FlagOfShip] [nvarchar](50) NULL,
	[Regime] [int] NULL,
	[TimeStamp] [timestamp] NULL,
	[LastSyncDate] [datetime] NULL,
	[CompanyID] [int] NULL,
	[ShipEmail] [varchar](200) NULL,
	[VesselTypeID] [int] NULL,
	[VesselSubTypeID] [int] NULL,
	[VesselSubSubTypeID] [int] NULL,
	[ShipEmail2] [varchar](100) NULL,
	[Voices1] [varchar](100) NULL,
	[Voices2] [varchar](100) NULL,
	[Fax1] [varchar](100) NULL,
	[Fax2] [varchar](100) NULL,
	[VOIP1] [varchar](100) NULL,
	[VOIP2] [varchar](100) NULL,
	[Mobile1] [varchar](100) NULL,
	[Mobile2] [varchar](100) NULL,
	[CommunicationsResources] [varchar](100) NULL,
	[HelicopterDeck] [int] NULL,
	[HelicopterWinchingArea] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_tblShip] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[IMONumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblShipUpdateNotificationMapping]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShipUpdateNotificationMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NotificationId] [int] NULL,
	[FormId] [int] NOT NULL,
	[ShipId] [int] NOT NULL,
	[FormsVersion] [varchar](50) NULL,
	[Operation] [varchar](20) NULL,
	[IsUpdate] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tblShipUpdateNotificationMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserGroupMapping]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserGroupMapping](
	[UserGroupId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
 CONSTRAINT [PK_tblUserGroupMapping] PRIMARY KEY CLUSTERED 
(
	[UserGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserMaster](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NOT NULL,
	[Password] [varchar](200) NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [int] NULL,
	[Email] [varchar](200) NOT NULL,
	[CreatedBy] [varchar](200) NULL,
	[ModifiedBy] [varchar](200) NULL,
	[Gender] [varchar](50) NULL,
	[VesselIMO] [varchar](50) NULL,
	[RankId] [int] NOT NULL,
	[ShipId] [int] NOT NULL,
	[UserCode] [varchar](500) NULL,
	[UserType] [int] NULL,
	[IsAdmin] [int] NULL,
 CONSTRAINT [PK_tblUserMaster] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVesselSubSubType]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVesselSubSubType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VesselSubTypeID] [int] NOT NULL,
	[VesselSubSubTypeDecsription] [varchar](100) NULL,
 CONSTRAINT [PK_tblVesselSubSubType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVesselSubType]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVesselSubType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VesselTypeID] [int] NOT NULL,
	[SubTypeDescription] [varchar](100) NULL,
 CONSTRAINT [PK_tblVesselSubType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVesselType]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVesselType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblVesselType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVolumeMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVolumeMaster](
	[VolumeId] [int] IDENTITY(1,1) NOT NULL,
	[VolumeName] [varchar](200) NOT NULL,
	[VolumeMasterDesc] [varchar](500) NOT NULL,
	[ControllerName] [varchar](250) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [Pk_tblVolumeMaster] PRIMARY KEY CLUSTERED 
(
	[VolumeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblForms] ON 

INSERT [dbo].[tblForms] ([ID], [CategoryId], [FormName], [Description], [Path], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Version]) VALUES (1, 1, N'Insurance Policy.docx', N'Insurance Policy.docx', N'G:\WFH\TCC\TCCCMS\TCCCMS\Uploads\Admin', NULL, CAST(N'2021-01-08T17:46:51.673' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[tblForms] ([ID], [CategoryId], [FormName], [Description], [Path], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Version]) VALUES (2, 1, N'Interested Parties.docx', N'Interested Parties.docx', N'G:\WFH\TCC\TCCCMS\TCCCMS\Uploads\Admin', NULL, CAST(N'2021-01-10T17:53:29.137' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[tblForms] ([ID], [CategoryId], [FormName], [Description], [Path], [IsActive], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Version]) VALUES (3, 1, N'SWOT_Analysis.docx', N'SWOT_Analysis.docx', N'G:\WFH\TCC\TCCCMS\TCCCMS\Uploads\Admin', NULL, CAST(N'2021-01-10T17:53:29.177' AS DateTime), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblForms] OFF
GO
SET IDENTITY_INSERT [dbo].[tblFormsCategory] ON 

INSERT [dbo].[tblFormsCategory] ([ID], [CatecoryName], [Description], [IsActive]) VALUES (-1, N'Please Select One', N'Select Category', 0)
INSERT [dbo].[tblFormsCategory] ([ID], [CatecoryName], [Description], [IsActive]) VALUES (1, N'Admin', N'Admin', 1)
INSERT [dbo].[tblFormsCategory] ([ID], [CatecoryName], [Description], [IsActive]) VALUES (2, N'Caterring', N'Caterring', 1)
SET IDENTITY_INSERT [dbo].[tblFormsCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblGroupMaster] ON 

INSERT [dbo].[tblGroupMaster] ([GroupId], [GroupName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'Group1', 1, N'Created By Someone', N'Modified By Someone')
INSERT [dbo].[tblGroupMaster] ([GroupId], [GroupName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'Group2', 1, N'Created By Someone', N'Modified By Someone')
INSERT [dbo].[tblGroupMaster] ([GroupId], [GroupName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1002, N'Group3', 1, N'Created By Someone', N'Modified By Someone')
SET IDENTITY_INSERT [dbo].[tblGroupMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tblManual] ON 

SET IDENTITY_INSERT [dbo].[tblManual] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPermissionMaster] ON 

INSERT [dbo].[tblPermissionMaster] ([PermissionId], [PermissionName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'Permssion1', 1, N'Created By Someone', N'Modified By Someone')
INSERT [dbo].[tblPermissionMaster] ([PermissionId], [PermissionName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'Permssion2', 1, N'Created By Someone', N'Modified By Someone')
SET IDENTITY_INSERT [dbo].[tblPermissionMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPermissionRoleMapping] ON 

INSERT [dbo].[tblPermissionRoleMapping] ([PermissionRoleId], [PermissionId], [RoleId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (27, 2, 4, 1, NULL, NULL)
INSERT [dbo].[tblPermissionRoleMapping] ([PermissionRoleId], [PermissionId], [RoleId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (28, 2, 5, 1, NULL, NULL)
INSERT [dbo].[tblPermissionRoleMapping] ([PermissionRoleId], [PermissionId], [RoleId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (25, 1, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblPermissionRoleMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRank] ON 

INSERT [dbo].[tblRank] ([RankId], [RankName], [Description], [IsActive]) VALUES (1, N'Master', N'Master', 1)
INSERT [dbo].[tblRank] ([RankId], [RankName], [Description], [IsActive]) VALUES (2, N'Chief Off', N'Chief Off', 1)
INSERT [dbo].[tblRank] ([RankId], [RankName], [Description], [IsActive]) VALUES (3, N'2nd Off', N'2nd Off', 1)
SET IDENTITY_INSERT [dbo].[tblRank] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRoleMaster] ON 

INSERT [dbo].[tblRoleMaster] ([RoleId], [RoleName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1, N'Role1', 1, N'Created By Someone', N'Modified By Someone')
INSERT [dbo].[tblRoleMaster] ([RoleId], [RoleName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (2, N'Role2', 1, N'Created By Someone', N'Modified By Someone')
INSERT [dbo].[tblRoleMaster] ([RoleId], [RoleName], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (4, N'Role4', 1, N'Created By Someone', N'Modified By Someone')
SET IDENTITY_INSERT [dbo].[tblRoleMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tblShip] ON 

INSERT [dbo].[tblShip] ([ID], [ShipName], [IMONumber], [FlagOfShip], [Regime], [LastSyncDate], [CompanyID], [ShipEmail], [VesselTypeID], [VesselSubTypeID], [VesselSubSubTypeID], [ShipEmail2], [Voices1], [Voices2], [Fax1], [Fax2], [VOIP1], [VOIP2], [Mobile1], [Mobile2], [CommunicationsResources], [HelicopterDeck], [HelicopterWinchingArea], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (2, N'INS Chanakya', 8940557, N'IND', NULL, NULL, 0, NULL, 1, 3, 9, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-01-13T20:55:11.680' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[tblShip] ([ID], [ShipName], [IMONumber], [FlagOfShip], [Regime], [LastSyncDate], [CompanyID], [ShipEmail], [VesselTypeID], [VesselSubTypeID], [VesselSubSubTypeID], [ShipEmail2], [Voices1], [Voices2], [Fax1], [Fax2], [VOIP1], [VOIP2], [Mobile1], [Mobile2], [CommunicationsResources], [HelicopterDeck], [HelicopterWinchingArea], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (3, N'INS Vikranth', 8940557, N'IND', NULL, NULL, 0, NULL, 1, 2, 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-01-13T20:55:42.307' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblShip] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUserGroupMapping] ON 

INSERT [dbo].[tblUserGroupMapping] ([UserGroupId], [UserId], [GroupId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1006, 1011, 1, 1, N'Created By Someone', NULL)
INSERT [dbo].[tblUserGroupMapping] ([UserGroupId], [UserId], [GroupId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1007, 1011, 2, 1, N'Created By Someone', NULL)
INSERT [dbo].[tblUserGroupMapping] ([UserGroupId], [UserId], [GroupId], [IsActive], [CreatedBy], [ModifiedBy]) VALUES (1013, 1012, 1002, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblUserGroupMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUserMaster] ON 

INSERT [dbo].[tblUserMaster] ([UserId], [UserName], [Password], [CreatedOn], [IsActive], [Email], [CreatedBy], [ModifiedBy], [Gender], [VesselIMO], [RankId], [ShipId], [UserCode], [UserType], [IsAdmin]) VALUES (1011, N'Prasenjit Paul', N'12345', CAST(N'2021-01-23T21:18:45.957' AS DateTime), 1, N'@paul', N'Created By Someone', NULL, N'M', N'1234567', 10, 3, NULL, 1, 0)
INSERT [dbo].[tblUserMaster] ([UserId], [UserName], [Password], [CreatedOn], [IsActive], [Email], [CreatedBy], [ModifiedBy], [Gender], [VesselIMO], [RankId], [ShipId], [UserCode], [UserType], [IsAdmin]) VALUES (1012, N'Bingsnu Baidya', N'12345', CAST(N'2021-01-27T09:41:18.220' AS DateTime), 1, N'bingshu@gmail.com', N'Created By Someone', NULL, N'F', N'1234567', 6, 2, NULL, 2, 0)
INSERT [dbo].[tblUserMaster] ([UserId], [UserName], [Password], [CreatedOn], [IsActive], [Email], [CreatedBy], [ModifiedBy], [Gender], [VesselIMO], [RankId], [ShipId], [UserCode], [UserType], [IsAdmin]) VALUES (1013, N'deep', N'12345', CAST(N'2021-01-14T16:01:19.703' AS DateTime), 1, N'dfgdfg', NULL, NULL, N'm', N'1234567', 13, 3, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[tblUserMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVesselSubSubType] ON 

INSERT [dbo].[tblVesselSubSubType] ([ID], [VesselSubTypeID], [VesselSubSubTypeDecsription]) VALUES (-1, -1, N'Please Select One')
INSERT [dbo].[tblVesselSubSubType] ([ID], [VesselSubTypeID], [VesselSubSubTypeDecsription]) VALUES (1, 1, N'VLOC
')
INSERT [dbo].[tblVesselSubSubType] ([ID], [VesselSubTypeID], [VesselSubSubTypeDecsription]) VALUES (2, 1, N'Cape size
')
SET IDENTITY_INSERT [dbo].[tblVesselSubSubType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVesselSubType] ON 

INSERT [dbo].[tblVesselSubType] ([ID], [VesselTypeID], [SubTypeDescription]) VALUES (-1, -1, N'Please Select One')
INSERT [dbo].[tblVesselSubType] ([ID], [VesselTypeID], [SubTypeDescription]) VALUES (1, 1, N'Bulk Carrier 
')
INSERT [dbo].[tblVesselSubType] ([ID], [VesselTypeID], [SubTypeDescription]) VALUES (2, 1, N'Container 
')
SET IDENTITY_INSERT [dbo].[tblVesselSubType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVesselType] ON 

INSERT [dbo].[tblVesselType] ([Id], [Description]) VALUES (-1, N'Please Select One')
INSERT [dbo].[tblVesselType] ([Id], [Description]) VALUES (1, N'Dry Vessel')
INSERT [dbo].[tblVesselType] ([Id], [Description]) VALUES (2, N'Tanker  Vessel
')
SET IDENTITY_INSERT [dbo].[tblVesselType] OFF
GO
ALTER TABLE [dbo].[tblPermissionRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblPermissionRoleMapping_tblPermissionMaster] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[tblPermissionMaster] ([PermissionId])
GO
ALTER TABLE [dbo].[tblPermissionRoleMapping] CHECK CONSTRAINT [FK_tblPermissionRoleMapping_tblPermissionMaster]
GO
ALTER TABLE [dbo].[tblPermissionRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblPermissionRoleMapping_tblRoleMaster] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tblRoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[tblPermissionRoleMapping] CHECK CONSTRAINT [FK_tblPermissionRoleMapping_tblRoleMaster]
GO
ALTER TABLE [dbo].[tblRolGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblRolGroupMapping_tblGroupMaster] FOREIGN KEY([GroupId])
REFERENCES [dbo].[tblGroupMaster] ([GroupId])
GO
ALTER TABLE [dbo].[tblRolGroupMapping] CHECK CONSTRAINT [FK_tblRolGroupMapping_tblGroupMaster]
GO
ALTER TABLE [dbo].[tblRolGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblRolGroupMapping_tblRoleMaster] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tblRoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[tblRolGroupMapping] CHECK CONSTRAINT [FK_tblRolGroupMapping_tblRoleMaster]
GO
ALTER TABLE [dbo].[tblShip]  WITH CHECK ADD  CONSTRAINT [FK_tblShip_tblVesselSubSubType] FOREIGN KEY([VesselSubSubTypeID])
REFERENCES [dbo].[tblVesselSubSubType] ([ID])
GO
ALTER TABLE [dbo].[tblShip] CHECK CONSTRAINT [FK_tblShip_tblVesselSubSubType]
GO
ALTER TABLE [dbo].[tblShip]  WITH CHECK ADD  CONSTRAINT [FK_tblShip_tblVesselSubType] FOREIGN KEY([VesselSubTypeID])
REFERENCES [dbo].[tblVesselSubType] ([ID])
GO
ALTER TABLE [dbo].[tblShip] CHECK CONSTRAINT [FK_tblShip_tblVesselSubType]
GO
ALTER TABLE [dbo].[tblShip]  WITH CHECK ADD  CONSTRAINT [FK_tblShip_tblVesselType] FOREIGN KEY([VesselTypeID])
REFERENCES [dbo].[tblVesselType] ([Id])
GO
ALTER TABLE [dbo].[tblShip] CHECK CONSTRAINT [FK_tblShip_tblVesselType]
GO
ALTER TABLE [dbo].[tblUserGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblUserGroupMapping_tblGroupMaster] FOREIGN KEY([GroupId])
REFERENCES [dbo].[tblGroupMaster] ([GroupId])
GO
ALTER TABLE [dbo].[tblUserGroupMapping] CHECK CONSTRAINT [FK_tblUserGroupMapping_tblGroupMaster]
GO
ALTER TABLE [dbo].[tblUserGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblUserGroupMapping_tblUserMaster] FOREIGN KEY([UserId])
REFERENCES [dbo].[tblUserMaster] ([UserId])
GO
ALTER TABLE [dbo].[tblUserGroupMapping] CHECK CONSTRAINT [FK_tblUserGroupMapping_tblUserMaster]
GO
ALTER TABLE [dbo].[tblUserMaster]  WITH CHECK ADD  CONSTRAINT [FK_tblUserMaster_tblRank] FOREIGN KEY([RankId])
REFERENCES [dbo].[tblRank] ([RankId])
GO
ALTER TABLE [dbo].[tblUserMaster] CHECK CONSTRAINT [FK_tblUserMaster_tblRank]
GO
ALTER TABLE [dbo].[tblVesselSubSubType]  WITH CHECK ADD  CONSTRAINT [FK_tblVesselSubSubType_tblVesselSubType] FOREIGN KEY([VesselSubTypeID])
REFERENCES [dbo].[tblVesselSubType] ([ID])
GO
ALTER TABLE [dbo].[tblVesselSubSubType] CHECK CONSTRAINT [FK_tblVesselSubSubType_tblVesselSubType]
GO
ALTER TABLE [dbo].[tblVesselSubType]  WITH CHECK ADD  CONSTRAINT [FK_tblVesselSubType_tblVesselType] FOREIGN KEY([VesselTypeID])
REFERENCES [dbo].[tblVesselType] ([Id])
GO
ALTER TABLE [dbo].[tblVesselSubType] CHECK CONSTRAINT [FK_tblVesselSubType_tblVesselType]
GO
/****** Object:  StoredProcedure [dbo].[DeleteApprover]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : DeleteApprover : Delete Approver(soft Delete)
** Created By   : BINGSHU BAIDYA
** Created On   : 19/01/2021
*******************************************************/
CREATE procedure [dbo].[DeleteApprover] 
( 
	@ApproverMasterId int
) 
AS 
BEGIN 
	UPDATE tblApproverMaster 
			SET IsActive = 0
	WHERE ID = @ApproverMasterId
RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteForms]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteForms]
(
	@FormName VARCHAR(500)
)
AS
BEGIN
	UPDATE tblForms
		SET IsActive = 0
	WHERE FormName = @FormName

	
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllApproverListPageWise]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : GetAllApproverListPageWise : Get All 
				  Approver List PageWise
** Created By   : BINGSHU BAIDYA
** Created On   : 18/01/2021
*******************************************************/
create procedure [dbo].[GetAllApproverListPageWise]
(
	@PageIndex INT = 1,
    @PageSize INT = 10,
    @TotalCount INT OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT ROW_NUMBER() OVER
      (
            ORDER BY [UserName] ASC
      )AS RowNumber
	  ,am.ID
	  ,am.ShipId
	  ,s.ShipName
	  ,am.VesselIMONumber
	  ,am.UserId
	  ,um.UserName
	  ,am.RankId
	  ,r.RankName
	  ,am.ApproverId
	  ,a.Descripton as ApproverDescription


	INTO #Results

	FROM tblApproverMaster am
		inner join tblShip s
			on s.ID = am.ShipId
		inner join tblRank r
			on r.RankId = am.RankId
		inner join tblUserMaster um
			on um.UserId = am.UserId
		inner join tblApprover a
			on a.ID = am.ApproverId
	where am.IsActive = 1



	SELECT @TotalCount = COUNT(*)
    FROM #Results       
    SELECT * FROM #Results
    WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
    DROP TABLE #Results
	SET NOCOUNT OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllShipDetailsPageWise]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllShipDetailsPageWise]
(
	@PageIndex INT = 1,
    @PageSize INT = 10,
    @TotalCount INT OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [ShipName] ASC
      )AS RowNumber
	  ,ID
	  ,ShipName
	  ,IMONumber
	  ,FlagOfShip
	  ,Regime
	  ,ShipEmail
	  ,ShipEmail2
	  ,VesselTypeID
	  ,VesselSubTypeID
	  ,VesselSubSubTypeID
	  ,Voices1
	  ,Voices2
	  ,Fax1
	  ,Fax2
	  ,VOIP1
	  ,VOIP2
	  ,Mobile1
	  ,Mobile2
	  ,HelicopterDeck
	  ,HelicopterWinchingArea

	  INTO #Results

	  FROM dbo.tblShip

	   SELECT @TotalCount = COUNT(*)
      FROM #Results       
      SELECT * FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
      --AND VesselID = @VesselID
      DROP TABLE #Results
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUserForDropDown]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.1
** Procedure    : GetAllUserForDropDown : Get All 
				  User List for DropDown (Ship wise or all)
** Created By   : BINGSHU BAIDYA
** Created On   : 18/01/2021
*******************************************************/
CREATE PROCEDURE [dbo].[GetAllUserForDropDown]
(
	@ShipId int = null
)
AS

BEGIN
	if(@ShipId is null)
		BEGIN
			SELECT UserId as ID,
				   UserName as Name
			FROM tblUserMaster
			WHERE IsActive = 1 
		END
	ELSE
		BEGIN
			SELECT UserId as ID,
				   UserName as Name
			FROM tblUserMaster
			WHERE IsActive = 1 
				  AND ShipId= @ShipId 
				  AND UserId not in(select distinct UserId from tblApproverMaster  where ShipId= @ShipId)/*--Added on 19th Jan 2021--*/
		END

	
	
END

GO
/****** Object:  StoredProcedure [dbo].[GetApproverLevelForDopDown]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : GetApproverLevelForDopDown : Get Approver 1, 2 ,3 ,4, 5, 6 
				  for DropDown only
** Created By   : BINGSHU BAIDYA
** Created On   : 21/01/2021
*******************************************************/
CREATE PROCEDURE [dbo].[GetApproverLevelForDopDown]

AS
BEGIN
	SELECT ID,
		   Descripton
	FROM tblApprover 
END
GO
/****** Object:  StoredProcedure [dbo].[GetApproverListByShipForDopDown]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : GetApproverListByShipForDopDown : Get Approver 
				  User Ship wise
** Created By   : BINGSHU BAIDYA
** Created On   : 21/01/2021
*******************************************************/
CREATE PROCEDURE [dbo].[GetApproverListByShipForDopDown]
(
	@ShipId int
)
AS
BEGIN
	SELECT am.UserId as UserId,
		   um.UserCode,
		   um.UserName
	FROM tblApproverMaster am
		 INNER JOIN tblUserMaster um
		 ON UM.UserId= am.UserId
	WHERE am.ShipId = @ShipId
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryList]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCategoryList]
as
begin
	select ID,CatecoryName,[Description]
	from tblFormsCategory
end
GO
/****** Object:  StoredProcedure [dbo].[GetFormsListByCategoryForDopDown]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetFormsListByCategoryForDopDown]
(
	@CategoryId int
)
as
begin
	select ID, FormName as Name
	from tblForms
	where IsActive = 1 and CategoryId = @CategoryId
end
GO
/****** Object:  StoredProcedure [dbo].[GetFormsListCategoryWise]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetFormsListCategoryWise]
(
	@CategoryId INT
)
AS
BEGIN
	SELECT ROW_NUMBER() OVER(  ORDER BY FormName ASC )AS RowNumber,  ID,FormName,[Description],[Path]
	FROM tblForms
	where IsActive =1 AND CategoryId=@CategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[GetShipDetailsById]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : GetShipDetailsById : Get Ship Details
				  By ID and Ship wise total Approvers Count
** Created By   : BINGSHU BAIDYA
** Created On   : 11/01/2021
*******************************************************/
CREATE PROCEDURE [dbo].[GetShipDetailsById]
(
	@ShipId INT
)
AS
BEGIN
	SELECT ID, ShipName,IMONumber,FlagOfShip as Flag,ShipEmail,ShipEmail2,Voices1,Voices2,Fax1,Fax2,VOIP1,VOIP2,Mobile1,Mobile2,
		   VesselTypeID,VesselSubTypeID,VesselSubSubTypeID
	FROM tblShip
	where ID = @ShipId

	SELECT COUNT(UserId) as ApproversCount FROM tblApproverMaster WHERE ShipId=@ShipId AND IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[GetVesselSubSubTypeListBySubTypeForDopDown]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetVesselSubSubTypeListBySubTypeForDopDown]
(
	@VesselSubTypeId int
)
as
begin
	select ID, [VesselSubSubTypeDecsription] as Name
	from tblVesselSubSubType
	where VesselSubTypeID between -1 and @VesselSubTypeId
end
GO
/****** Object:  StoredProcedure [dbo].[GetVesselSubTypeListByTypeForDopDown]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetVesselSubTypeListByTypeForDopDown]
(
	@VesselTypeId int
)
as
begin
	select ID, [SubTypeDescription] as Name
	from tblVesselSubType
	where VesselTypeID between -1 and @VesselTypeId
end
GO
/****** Object:  StoredProcedure [dbo].[GetVesselTypeListForDopDown]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetVesselTypeListForDopDown]
as
begin
	select ID, [Description] as Name
	from tblVesselType
end
GO
/****** Object:  StoredProcedure [dbo].[SaveApprover]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : SaveApprover : save approver
** Created By   : BINGSHU BAIDYA
** Created On   : 18/01/2021
*******************************************************/
CREATE PROCEDURE [dbo].[SaveApprover]
(
	@Id			INT,
	@ShipId		INT,
	@IMONumber	INT,
	@RankId		INT,
	@UserId		INT,
	@ApproverId INT,
	@CreatedBy	INT

)
AS
BEGIN
	SET NOCOUNT ON;
	IF (@Id IS NULL or @Id = 0)
		BEGIN
			INSERT INTO tblApproverMaster(VesselIMONumber,ShipId,RankId,UserId,ApproverId,IsActive,CreatedOn,CreatedBy)
									VALUES(@IMONumber,@ShipId,@RankId,@UserId,@ApproverId,1,GETDATE(),@CreatedBy)
		END

	SET NOCOUNT OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveFilledUpFormsForApproval]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : SaveFilledUpFormsForApproval : Save 
				  Filled up Forms for Approval
** Created By   : BINGSHU BAIDYA
** Created On   : 19/01/2021
*******************************************************/

CREATE PROCEDURE [dbo].[SaveFilledUpFormsForApproval]
(
	--@Id				INT				= 0,
	@Name			VARCHAR(500)	= NULL,
	@Path			VARCHAR(250)	= NULL,
	@ShipId			INT				= 0,
	@xmlApprovers	ntext			= NULL,
	@OriginalForm	VARCHAR(500)	= NULL,
	@User			INT				= 1
)
AS
BEGIN
	 
	declare @hDoc1			int,
			@counter		int,
	        @rowcount		int,
			@formId			int,
			@uploadedFormId int

	DECLARE @approver_id	INT,
			@user_id		INT

	SELECT @formId = ID FROM tblForms WHERE FormName= @OriginalForm
	
	IF(@formId is not Null)
		BEGIN
			SET NOCOUNT ON

			BEGIN TRANSACTION
			IF(@xmlApprovers is not null) EXEC SP_XML_PREPAREDOCUMENT @hDoc1 OUTPUT,@xmlApprovers 
			
			INSERT INTO tblFormsUploaded(FormId,ShipId,FormsPath,FormsName,IsApprove,CreatedBy,CreatedOn)
								 VALUES(@formId,@ShipId,@Path,@Name,0,@User,GETDATE())

								 SELECT @uploadedFormId = SCOPE_IDENTITY();
								IF(@@rowcount=0)
									BEGIN
										ROLLBACK TRANSACTION
										IF(@xmlApprovers is not null) EXEC sp_xml_removedocument @hDoc1
										
										RETURN 0
									END

			IF(@xmlApprovers is not null)
				BEGIN
					SET @counter = 1
					SELECT  @rowcount=count(row_id)  
					FROM OPENXML(@hDoc1,'approver/row', 2)  
					WITH( row_id int )

					WHILE(@counter <= @rowcount)
						begin
							select  
								@approver_id    = approverId,
								@user_id		= userId

							from openxml(@hDoc1,'approver/row',2)
							with
							( 
								approverId int,
								userId int,
								row_id int
							) xmlTemp where xmlTemp.row_id = @counter  
			
							if(@approver_id = 0)
								begin
										---******----
										rollback transaction
										if(@xmlApprovers is not null) exec sp_xml_removedocument @hDoc1
										return 0

								end
							else
								begin
									INSERT INTO tblFormsUploadedApproverMapping(UploadedFormId,ApproverId,ApproverUserId,IsApprove,CreatedOn)
																	VALUES(@uploadedFormId,@approver_id,@user_id,0,GETDATE())
				    
									if(@@rowcount=0)
										begin
											rollback transaction
											if(@xmlApprovers is not null) exec sp_xml_removedocument @hDoc1
											return 0
										end
								end
							set @counter = @counter + 1
						end
				end
			
			COMMIT TRANSACTION
			SET NOCOUNT OFF

			RETURN 1
		END
	ELSE
		BEGIN
			RETURN 0
		END
		
END
GO
/****** Object:  StoredProcedure [dbo].[SaveFormsDetails]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************
*******************************************************
** Version		: 1.0.0.0
** Procedure    : SaveFormsDetails : save
                  institution 
** Created By   : BINGSHU BAIDYA
** Created On   : 08/01/2021
*******************************************************/

CREATE PROCEDURE [dbo].[SaveFormsDetails]
(
	@Name varchar(500) ,
	@Path varchar(500),
	@Description varchar(1000),
	@Version varchar(50),
	@CategoryId int,
	@User int
)
AS
BEGIN
	declare @formId int,
			@oldVersion varchar(50),
			@counter int,
			@rowcount int,
			@shipId int
	create table #tmpShip(
		id int,
		rowNumber int
	);
	
	IF NOT EXISTS(select [FormName] FROM tblForms WHERE [FormName] = @Name AND CategoryId = @CategoryId)
		 BEGIN
			SET NOCOUNT ON;
			Insert into tblForms ([FormName],[CategoryId],[Description],[Version],[Path],[CreatedOn],CreatedBy)
			values (@Name,@CategoryId,@Description,@Version,@Path,GETDATE(),@User)
		END
	ELSE
		BEGIN
			select @formId = ID, @oldVersion = Version from tblForms where [FormName] =@Name AND CategoryId = @CategoryId
			update tblForms
				set [Version]	= @Version,
					[UpdatedOn] = GETDATE(),
					[UpdatedBy] = @User
			where[FormName] = @Name AND CategoryId = @CategoryId 

			if(@@rowcount = 1)

				begin
					INSERT INTO tblFormsArchiveLog([FormId],[FormsVersion],[Operation],[ArchivedDate])
											VALUES(@formId,@oldVersion,'UPDATE',GETDATE())
					
					INSERT INTO tblFormsUpdateNotification(FormId,[ShipId],Operation,UpdateNotifyDate)
						values(@formId,0,'UPDATE',GETDATE())
					DECLARE @UpdateNotifyId int = scope_identity()
					---may need to write some code in later time
					set @Counter = 1
					INSERT INTO #tmpShip(rowNumber,id)(SELECT ROW_NUMBER() OVER(  ORDER BY ID ASC )AS RowNumber,ID FROM tblShip)
					SELECT @rowcount = COUNT(id) FROM #tmpShip
					WHILE (@counter <= @rowcount)
						BEGIN
							SELECT @shipId = id FROM #tmpShip WHERE rowNumber = @counter
							INSERT INTO tblShipUpdateNotificationMapping(
																		  NotificationId,
																		  FormId,
																		  ShipId,IsUpdate
																		 )
																	VALUES(
																			@UpdateNotifyId,
																			@formId,
																			@shipId,
																			0
																		   )


							set @counter = @counter + 1

						END

				end

		END

	DROP TABLE #tmpShip
	SET NOCOUNT OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[SaveShipDetails]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveShipDetails]
(
	@Id int,
	@Name varchar(21) ,
	@IMONumber int,
	@Flag varchar(50),
	@CompanyId int,
	@VesselTypeId int,
	@VesselSubTypeId int,
	@VesselSubSubTypeId int,
	@ShipEmail1 varchar(200),
	@ShipEmail2 varchar(200),
	@Mobile1  varchar(100),
	@Mobile2 varchar(100),
	@Fax1 varchar(100),
	@Fax2 varchar(100),
	@User int
)
AS
BEGIN
	SET NOCOUNT ON;
	IF @Id IS NULL
		BEGIN

			Insert into tblShip(ShipName,IMONumber,FlagOfShip,ShipEmail,ShipEmail2,Fax1,Fax2,Mobile1,Mobile2,
								 CompanyID,VesselTypeID,VesselSubTypeID,VesselSubSubTypeID,CreatedOn,CreatedBy)
								values(@Name,@IMONumber,@Flag,@ShipEmail1,@ShipEmail2,@Fax1,@Fax2,@Mobile1,@Mobile2,
								@CompanyId,@VesselTypeId,@VesselSubTypeId,@VesselSubSubTypeId,GETDATE(),@User)
		END
	ELSE
		BEGIN
			UPDATE tblShip
				set 
					ShipName			= @Name
					,IMONumber			= @IMONumber
					,FlagOfShip			= @Flag
					,ShipEmail			= @ShipEmail1
					,ShipEmail2			= @ShipEmail2
					,Fax1				= @Fax1
					,Fax2				= @Fax2
					,Mobile1			= @Mobile1
					,Mobile2			= @Mobile2
					,CompanyID			= @CompanyId
					,VesselTypeID		= @VesselTypeId
					,VesselSubTypeID	= @VesselSubTypeId
					,VesselSubSubTypeID	= @VesselSubSubTypeId
					,UpdatedOn			= GETDATE()
					,UpdatedBy			= @User
			
			WHERE ID = @Id
		END
	
	SET NOCOUNT OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[SearchManuals]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--declare @x int Exec SearchManualsPagewise 1,10, @x out, 1, 'Business'

--declare @x int Exec SearchManuals 1, 'Business'
CREATE PROCEDURE [dbo].[SearchManuals]
(
	@VolumeId int = 0,
	@SearchText varchar(1000)
)
AS
	BEGIN
		set nocount on;
		declare @strSQL varchar(max)

		set @strSQL='select ROW_NUMBER() OVER(  ORDER BY [ManualHeader] ASC )AS RowNumber,'
		--set @strSQL='select '
		set @strSQL=@strSQL +' ManualId, CONVERT(VARCHAR(MAX), [ManualFileName]) AS [ManualFileName],'
        set @strSQL=@strSQL +' CONVERT(VARCHAR(MAX), [ManualHTML]) AS [ManualHTML] ,[ControllerName],'
		set @strSQL=@strSQL +'[ActionName],[ManualBodyText],[ManualHeader] '
		set @strSQL=@strSQL +' FROM tblManual m '
		set @strSQL=@strSQL +' WHERE 1=1 '
		
		IF(isnull(@VolumeId,0 )<> 0)
			begin
				set @strSQL= @strSQL + ' AND VolumeId ='+ CONVERT(varchar,@VolumeId)
			end
		if(isnull(@SearchText,'') <>'')
			begin
				set @strSQL= @strSQL + ' AND FREETEXT(*,''' + @SearchText + ''') '
			end


		exec(@strSQL)
		set nocount off;
	END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteGroupMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- stpDeleteGroupMaster 1
create procedure [dbo].[stpDeleteGroupMaster] 
( 
@GroupId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0
BEGIN
UPDATE tblGroupMaster SET IsActive = 0
WHERE GroupId = @GroupId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeletePermissionRole]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpDeletePermissionRole 6
CREATE procedure [dbo].[stpDeletePermissionRole] 
( 
@PermissionRoleId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0



BEGIN
--UPDATE tblUserGroupMapping SET IsActive = 0
Delete from tblPermissionRoleMapping
WHERE PermissionRoleId = @PermissionRoleId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteRank]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpDeleteRank '21'

create procedure [dbo].[stpDeleteRank] 
( 
@RankId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0
BEGIN
UPDATE tblRank SET IsActive = 0
WHERE RankId = @RankId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteRoleMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpDeleteRoleMaster 2
CREATE procedure [dbo].[stpDeleteRoleMaster] 
( 
@RoleId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0
BEGIN
UPDATE tblRoleMaster SET IsActive = 0
WHERE RoleId = @RoleId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteUserGroup]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec stpDeleteUserGroup '1'

CREATE procedure [dbo].[stpDeleteUserGroup] 
( 
@UserGroupId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0



BEGIN
--UPDATE tblUserGroupMapping SET IsActive = 0
Delete from tblUserGroupMapping
WHERE UserGroupId = @UserGroupId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpDeleteUserMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpDeleteUserMaster '3'

CREATE procedure [dbo].[stpDeleteUserMaster] 
( 
@UserId int
) 
AS 
BEGIN 

--DECLARE @UserMasterCount int
--SET @UserMasterCount =0

--SELECT @UserMasterCount = COUNT(*) FROM tblUserMaster 
--WHERE UserId = @UserId

--IF @UserMasterCount = 0
BEGIN
UPDATE tblUserMaster SET IsActive = 0
WHERE UserId = @UserId
 
END


RETURN  
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetAllGroupMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetAllGroupMaster
create PROCEDURE [dbo].[stpGetAllGroupMaster]
--(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
--)
AS
Begin
Select  GroupName,CreatedBy,ModifiedBy

FROM dbo.tblGroupMaster

--WHERE UM.UserId= @UserId 
--AND UM.IsActive=1

where IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetAllGroupMasterPageWise]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  declare @x int Exec stpGetAllGroupMasterPageWise 1,10, @x out
create PROCEDURE [dbo].[stpGetAllGroupMasterPageWise]
 (
      @PageIndex INT = 1,
      @PageSize INT = 10,
      @RecordCount INT OUTPUT
	  --,@VesselID int
)
AS
BEGIN
      SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [GroupName] ASC
      )AS RowNumber

	  ,GroupId
     ,GroupName
	 ,CreatedBy
	 ,ModifiedBy

 INTO #Results

    FROM dbo.tblGroupMaster 
    --where UserId=@UserId
	where IsActive=1

      SELECT @RecordCount = COUNT(*)
      FROM #Results       
      SELECT * FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
      --AND VesselID = @VesselID
      DROP TABLE #Results
END

GO
/****** Object:  StoredProcedure [dbo].[stpGetAllPermissionRoleByPermissionId]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetAllPermissionRoleByPermissionId  1
CREATE PROCEDURE [dbo].[stpGetAllPermissionRoleByPermissionId]
(
@PermissionId int

)
AS
Begin
Select  P.PermissionName,R.RoleName,PR.CreatedBy,PR.ModifiedBy,R.RoleId

FROM dbo.tblPermissionRoleMapping PR
LEFT OUTER JOIN tblPermissionMaster P
ON PR.PermissionId = P.PermissionId

LEFT OUTER JOIN tblRoleMaster R
ON PR.RoleId = R.RoleId

WHERE PR.PermissionId= @PermissionId 
AND PR.IsActive=1

--where UGM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetAllRankPageWise]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- declare @x int Exec stpGetAllRankPageWise 1,100, @x out

CREATE PROCEDURE [dbo].[stpGetAllRankPageWise]
(
	@PageIndex INT = 1,
    @PageSize INT = 10,
    @RecordCount INT OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [RankName] ASC
      )AS RowNumber
	  ,RankId
	  ,RankName
	  ,Description

	  INTO #Results

	  FROM dbo.tblRank
	  where IsActive=1
	   SELECT @RecordCount = COUNT(*)
      FROM #Results       
      SELECT * FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
      --AND VesselID = @VesselID
      DROP TABLE #Results
END
GO
/****** Object:  StoredProcedure [dbo].[stpGetAllRoleMasterPageWise]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  declare @x int Exec stpGetAllRoleMasterPageWise 1,10, @x out
create PROCEDURE [dbo].[stpGetAllRoleMasterPageWise]
 (
      @PageIndex INT = 1,
      @PageSize INT = 10,
      @RecordCount INT OUTPUT
	  --,@VesselID int
)
AS
BEGIN
      SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [RoleName] ASC
      )AS RowNumber

	  ,RoleId
     ,RoleName
	 ,CreatedBy
	 ,ModifiedBy

 INTO #Results

    FROM dbo.tblRoleMaster 
    --where UserId=@UserId
	where IsActive=1

      SELECT @RecordCount = COUNT(*)
      FROM #Results       
      SELECT * FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
      --AND VesselID = @VesselID
      DROP TABLE #Results
END

GO
/****** Object:  StoredProcedure [dbo].[stpGetAllUser]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetAllUser
CREATE PROCEDURE [dbo].[stpGetAllUser]
--(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
--)
AS
Begin
Select  UserName,CreatedOn,Email,CreatedBy,ModifiedBy,Gender,VesselIMO,R.RankName

FROM dbo.tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

--WHERE UM.UserId= @UserId 
--AND UM.IsActive=1

where UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetAllUserGroup]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--   exec stpGetAllUserGroup
CREATE PROCEDURE [dbo].[stpGetAllUserGroup]


AS
BEGIN

Select
    UserGroupId
	  ,U.UserId
     ,U.UserName
	 ,G.GroupName AS SelectedGroups  -- should comma sapaa--------------

 INTO #Results

    FROM dbo.tblUserGroupMapping UG 

    LEFT OUTER JOIN tblUserMaster U
    ON UG.UserId = U.UserId

	LEFT OUTER JOIN tblGroupMaster G
    ON G.GroupId = UG.GroupId

    WHERE UG.IsActive=1
    --AND UM.IsActive=@UserId

    
     


	    SELECT DISTINCT UserId,UserName, SelectedGroups = 
     STUFF((SELECT ', ' + SelectedGroups
           FROM #Results b 
           WHERE b.UserId = a.UserId 
          FOR XML PATH('')), 1, 2, '')


      --SELECT * FROM #Results 
	  FROM #Results a
	 --GROUP BY UserGroupId,UserName,SelectedGroups
      DROP TABLE #Results
END



GO
/****** Object:  StoredProcedure [dbo].[stpGetAllUserGroupByUserID]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--   exec stpGetAllUserGroupByUserID  1011
CREATE PROCEDURE [dbo].[stpGetAllUserGroupByUserID]
(
@UserId int

)
AS
Begin
Select  UM.UserName,GM.GroupName,UGM.CreatedBy,UGM.ModifiedBy,GM.GroupId

FROM dbo.tblUserGroupMapping UGM
LEFT OUTER JOIN tblUserMaster UM
ON UGM.UserId = UM.UserId

LEFT OUTER JOIN tblGroupMaster GM
ON GM.GroupId = UGM.GroupId

WHERE UGM.UserId= @UserId 
AND UGM.IsActive=1

--where UGM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetAllUserGroupPageWise]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  declare @x int Exec stpGetAllUserGroupPageWise 1,10, @x out
CREATE PROCEDURE [dbo].[stpGetAllUserGroupPageWise]
 (
      @PageIndex INT = 1,
      @PageSize INT = 10,
      @RecordCount INT OUTPUT
	  --,@VesselID int
)
AS
BEGIN
      SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [UserGroupId] ASC
      )AS RowNumber

	  ,UserGroupId
	  ,U.UserId
     ,U.UserName
	 ,G.GroupName AS SelectedGroups  -- should comma sapaa--------------

 INTO #Results

    FROM dbo.tblUserGroupMapping UG 

    LEFT OUTER JOIN tblUserMaster U
    ON UG.UserId = U.UserId

	LEFT OUTER JOIN tblGroupMaster G
    ON G.GroupId = UG.GroupId

    WHERE UG.IsActive=1
    --AND UM.IsActive=@UserId

      SELECT @RecordCount = COUNT(*)
      FROM #Results       


	    SELECT DISTINCT UserId,UserName, SelectedGroups = 
     STUFF((SELECT ', ' + SelectedGroups
           FROM #Results b 
           WHERE b.UserId = a.UserId 
          FOR XML PATH('')), 1, 2, '')


      --SELECT * FROM #Results 
	  FROM #Results a
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
	 --GROUP BY UserGroupId,UserName,SelectedGroups
      DROP TABLE #Results
END

GO
/****** Object:  StoredProcedure [dbo].[stpGetAllUserPageWise]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  declare @x int Exec stpGetAllUserPageWise 1,10, @x out, 2
CREATE PROCEDURE [dbo].[stpGetAllUserPageWise]
 (
      @PageIndex INT = 1,
      @PageSize INT = 10,
      @RecordCount INT OUTPUT
	  --,@VesselID int
	  ,@UserType int
)
AS
BEGIN
      SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [UserName] ASC
      )AS RowNumber

	  ,UserId
     ,UserName
	 --,SUBSTRING(CreatedOn, 1, 10)as CreatedOn
	 ,  convert(varchar, getdate(), 103) as CreatedOn
	 ,Email
	 ,UM.CreatedBy
	 ,ModifiedBy
	 ,Gender
	 ,VesselIMO
	 ,R.RankName
	 ,S.ShipName

 INTO #Results

    FROM dbo.tblUserMaster UM
    LEFT OUTER JOIN tblRank R
    ON UM.RankId = R.RankId

	LEFT OUTER JOIN tblShip S
    ON UM.ShipId = S.ID

    --where UserId=@UserId
	where UM.IsActive=1
	and UserType = @UserType

      SELECT @RecordCount = COUNT(*)
      FROM #Results       
      SELECT * FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
      --AND VesselID = @VesselID
      DROP TABLE #Results
END

GO
/****** Object:  StoredProcedure [dbo].[stpGetGroupMasterByGroupId]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetGroupMasterByGroupId 3
CREATE PROCEDURE [dbo].[stpGetGroupMasterByGroupId]
(
@GroupId int
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  GroupId, GroupName
		--,CreatedBy,ModifiedBy

FROM tblGroupMaster 

WHERE GroupId= @GroupId
AND IsActive=1
End


GO
/****** Object:  StoredProcedure [dbo].[stpGetRankByRankId]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--   exec stpGetRankByRankId 1
create PROCEDURE [dbo].[stpGetRankByRankId]
(
@RankId int
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  RankId, RankName, Description

FROM tblRank

WHERE RankId= @RankId 
AND IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetRoleMasterByRoleId]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetRoleMasterByRoleId 2
create PROCEDURE [dbo].[stpGetRoleMasterByRoleId]
(
@RoleId int
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  RoleId, RoleName
		--,CreatedBy,ModifiedBy

FROM tblRoleMaster 

WHERE RoleId= @RoleId
AND IsActive=1
End
GO
/****** Object:  StoredProcedure [dbo].[stpGetUserByEmailId]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetUserByEmailId "hgf1"
CREATE PROCEDURE [dbo].[stpGetUserByEmailId]
(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
@Email varchar(200)
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  UserName,CreatedOn,Email,CreatedBy,ModifiedBy,Gender,VesselIMO,R.RankName

FROM dbo.tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

WHERE UM.Email= @Email 
AND UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetUserByIMO]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetUserByIMO "gfhfg"
create PROCEDURE [dbo].[stpGetUserByIMO]
(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
@VesselIMO varchar(50)--,
--@RankId int  
)
AS
Begin
Select  UserName,CreatedOn,Email,CreatedBy,ModifiedBy,Gender,VesselIMO,R.RankName

FROM dbo.tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

WHERE UM.VesselIMO= @VesselIMO 
AND UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetUserByRank]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetUserByRank 1
create PROCEDURE [dbo].[stpGetUserByRank]
(
--@UserId int,
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
@RankId int  
)
AS
Begin
Select  UserName,CreatedOn,Email,CreatedBy,ModifiedBy,Gender,VesselIMO,R.RankName

FROM dbo.tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

WHERE UM.RankId= @RankId 
AND UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpGetUserByUserId]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec stpGetUserByUserId 1011
CREATE PROCEDURE [dbo].[stpGetUserByUserId]
(
@UserId int
--@UserName varchar(200),
--@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
--@Email varchar(200),
--@CreatedBy varchar(200),
--@ModifiedBy varchar(200),
--@Gender varchar(50),
--@VesselIMO varchar(50),
--@RankId int  
)
AS
Begin
Select  UserId, UserName, [Password],
        UM.CreatedOn, --ISNULL(REPLACE(REPLACE(CONVERT(varchar(12),CreatedOn,dbo.ufunc_GetDateFormat()), ' ','-'), ',',''), '-') CreatedOn, 
        Email
		--,CreatedBy,ModifiedBy
		,Gender,VesselIMO
		, UM.RankId 
		,R.RankName
		,UM.ShipId
		,UserCode --Added on 20th JAN 2021 @Prasenjit
		,UserType
		,IsAdmin  --Added on 20th JAN 2021 @Prasenjit

FROM tblUserMaster UM
LEFT OUTER JOIN tblRank R
ON UM.RankId = R.RankId

LEFT OUTER JOIN tblShip S
ON UM.ShipId = S.ID

WHERE UM.UserId= @UserId 
AND UM.IsActive=1
End



GO
/****** Object:  StoredProcedure [dbo].[stpSavePermissionRole]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec stpSavePermissionRole 1, '1,2'

CREATE PROCEDURE [dbo].[stpSavePermissionRole]
(
	@PermissionId int,
	@MappingRoles varchar(500)
)
AS
BEGIN

	BEGIN TRY
		BEGIN TRAN
		DELETE  FROM tblPermissionRoleMapping WHERE PermissionId = @PermissionId

		IF (@MappingRoles IS  NOT NULL)
		BEGIN
			INSERT INTO tblPermissionRoleMapping(PermissionId,RoleId,IsActive)
			SELECT @PermissionId,String,1 FROM [dbo].[ufn_CSVToTable](@MappingRoles,',')
		END
		
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[stpSavePermissionRole_old]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec stpSavePermissionRole NULL,1,1,"jgj","smmn"
CREATE PROCEDURE [dbo].[stpSavePermissionRole_old]
(
@PermissionRoleId int ,
@PermssionId int,
@RoleId int,
--@IsActive int,
@CreatedBy varchar(200),
@ModifiedBy varchar(200)
)
AS
BEGIN
IF @PermissionRoleId IS NULL
 BEGIN
	Insert into tblPermissionRoleMapping (PermssionId,RoleId,IsActive,CreatedBy)
	values (@PermssionId,@RoleId,1,@CreatedBy)
END
--ELSE
--BEGIN
--UPDATE [dbo].tblUserGroupMapping SET UserId=@UserId, ModifiedBy=@ModifiedBy ,GroupId= String FROM ufn_CSVToTable(@SelectedGroup,',')
--	WHERE UserGroupId=@UserGroupId 
--	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 

--END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateGroupMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  exec stpSaveUpdateGroupMaster NULL,'1st Group' ,"Created By Someone","Modified By Someone"

CREATE PROCEDURE [dbo].[stpSaveUpdateGroupMaster]
(
	@GroupId int,
@GroupName varchar(200),
--@IsActive int,
@CreatedBy varchar(200),
@ModifiedBy varchar(200)
)
AS
BEGIN
IF @GroupId IS NULL
 BEGIN
	Insert into tblGroupMaster (GroupName,IsActive,CreatedBy)
	values(@GroupName,1,@CreatedBy)
END
ELSE
BEGIN
UPDATE tblGroupMaster SET GroupName=@GroupName, ModifiedBy=@ModifiedBy
	WHERE GroupId=@GroupId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 
	--AND CreatedBy=@CreatedBy AND ModifiedBy=@ModifiedBy AND Gender=@Gender AND VesselIMO=@VesselIMO AND RankId=@RankId

END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateRank]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec stpSaveUpdateRank NULL,"2st Engineer","xyzz"

create PROCEDURE [dbo].[stpSaveUpdateRank]
(
@RankId int,
@RankName varchar(200),
@Description varchar(200)
)
AS
BEGIN
IF @RankId IS NULL
 BEGIN
	Insert into tblRank (RankName,Description,IsActive)
	values(@RankName,@Description,1)
END
ELSE
BEGIN
UPDATE [dbo].tblRank SET RankName=@RankName,Description=@Description
	WHERE RankId=@RankId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 
	--AND CreatedBy=@CreatedBy AND ModifiedBy=@ModifiedBy AND Gender=@Gender AND VesselIMO=@VesselIMO AND RankId=@RankId

END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateRoleMaster]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec stpSaveUpdateRoleMaster NULL,'jkkjk' ,"ghhgjg","hfgjhgj"

CREATE PROCEDURE [dbo].[stpSaveUpdateRoleMaster]
(
	@RoleId int,
@RoleName varchar(200),
--@IsActive int,
@CreatedBy varchar(200),
@ModifiedBy varchar(200)
)
AS
BEGIN
IF @RoleId IS NULL
 BEGIN
	Insert into tblRoleMaster (RoleName,IsActive,CreatedBy)
	values(@RoleName,1,@CreatedBy)
END
ELSE
BEGIN
UPDATE tblRoleMaster SET RoleName=@RoleName, ModifiedBy=@ModifiedBy
	WHERE RoleId =@RoleId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 
	--AND CreatedBy=@CreatedBy AND ModifiedBy=@ModifiedBy AND Gender=@Gender AND VesselIMO=@VesselIMO AND RankId=@RankId

END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateUser]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec stpSaveUpdateUser NULL,"un","pw","eml","cby","mby","m","123456",1,1

CREATE PROCEDURE [dbo].[stpSaveUpdateUser]
(
	@UserId int,
@UserName varchar(200),
@Password varchar(200),
--@CreatedOn varchar(200),
--@IsActive int,
@Email varchar(200),
@CreatedBy varchar(200),
@ModifiedBy varchar(200),
@Gender varchar(50),
@VesselIMO varchar(50),
@RankId int ,
@ShipId int,

--@UserCode varchar(500),
@UserType int,
@IsAdmin int
)
AS
BEGIN
IF @UserId IS NULL
 BEGIN
	Insert into tblUserMaster (UserName,[Password],CreatedOn,IsActive,Email,CreatedBy,Gender,VesselIMO,RankId,ShipId, UserType, IsAdmin)
	values(@UserName,@Password,GETDATE(),1,@Email,@CreatedBy,@Gender,@VesselIMO,@RankId,@ShipId,@UserType, @IsAdmin)
END
ELSE
BEGIN
UPDATE [dbo].tblUserMaster SET UserName=@UserName,[Password]=@Password,CreatedOn=GETDATE(),Email=@Email,
                               ModifiedBy=@ModifiedBy,Gender=@Gender,VesselIMO=@VesselIMO,RankId=@RankId,ShipId=@ShipId 
							   --,UserCode=@UserCode 
							   --,UserType=@UserType
							   ,IsAdmin=@IsAdmin 
	WHERE UserId=@UserId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 
	--AND CreatedBy=@CreatedBy AND ModifiedBy=@ModifiedBy AND Gender=@Gender AND VesselIMO=@VesselIMO AND RankId=@RankId

END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUpdateUserGroup]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec stpSaveUpdateUserGroup NULL,1012,  '1002,1003'   ,"Created By Someone","Modified By Someone"

CREATE PROCEDURE [dbo].[stpSaveUpdateUserGroup]
(
	@UserGroupId int,
@UserId int ,
--@GroupId int ,
@SelectedGroup varchar(1000),
--@IsActive int,
@CreatedBy varchar(200),
@ModifiedBy varchar(200)

)
AS
BEGIN
IF @UserGroupId IS NULL
 BEGIN
	Insert into tblUserGroupMapping (UserId,IsActive,CreatedBy,GroupId)
	select @UserId, 1, @CreatedBy, String FROM ufn_CSVToTable(@SelectedGroup,',')
END
ELSE
BEGIN
UPDATE [dbo].tblUserGroupMapping SET UserId=@UserId, ModifiedBy=@ModifiedBy ,GroupId= String FROM ufn_CSVToTable(@SelectedGroup,',')
	WHERE UserGroupId=@UserGroupId 
	--AND UserName=@UserName AND [Password]=@Password AND CreatedOn=@CreatedOn AND IsActive=@IsActive AND Email=@Email 

END
END
GO
/****** Object:  StoredProcedure [dbo].[stpSaveUserGroupMapping]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec stpSaveUserGroupMapping 1011, '1,2,1003'

CREATE PROCEDURE [dbo].[stpSaveUserGroupMapping]
(
	@UserId int,
	@MappingGroups varchar(500)
)
AS
BEGIN

	BEGIN TRY
		BEGIN TRAN
		DELETE  FROM tblUserGroupMapping WHERE UserId = @UserId

		IF (@MappingGroups IS  NOT NULL)
		BEGIN
			INSERT INTO tblUserGroupMapping(UserId,GroupId,IsActive)
			SELECT @UserId,String,1 FROM [dbo].[ufn_CSVToTable](@MappingGroups,',')
		END
		
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllGroupsForDrp]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllGroupsForDrp
create procedure [dbo].[usp_GetAllGroupsForDrp]
--(
--@VesselID int
--)
AS
Begin

Select GroupId, GroupName
from tblGroupMaster
--Where VesselID=@VesselID
End
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllPermissionForDrp]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllPermissionForDrp
create procedure [dbo].[usp_GetAllPermissionForDrp]
--(
--@VesselID int
--)
AS
Begin

Select PermissionId, PermissionName
from tblPermissionMaster
--Where VesselID=@VesselID
End
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllRanksForDrp]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllRanksForDrp
CREATE procedure [dbo].[usp_GetAllRanksForDrp]
--(
--@VesselID int
--)
AS
Begin

Select RankId, RankName
from tblRank
--Where VesselID=@VesselID
End
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllRolesForDrp]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllRolesForDrp
create procedure [dbo].[usp_GetAllRolesForDrp]
--(
--@VesselID int
--)
AS
Begin

Select RoleId, RoleName
from tblRoleMaster
--Where VesselID=@VesselID
End
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllShipForDrp]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllShipForDrp
create procedure [dbo].[usp_GetAllShipForDrp]
--(
--@VesselID int
--)
AS
Begin

Select ID, ShipName
from tblShip
--Where VesselID=@VesselID
End
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllUserForDrp]    Script Date: 27-01-2021 09:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec usp_GetAllUserForDrp
create procedure [dbo].[usp_GetAllUserForDrp]
--(
--@VesselID int
--)
AS
Begin

Select UserId, UserName
from tblUserMaster
--Where VesselID=@VesselID
End
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Support = 0, Ship = 1, company = 2.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblUserMaster', @level2type=N'COLUMN',@level2name=N'UserType'
GO
