@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "ABJD";
}

@*<h2>ABJD</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="ABJDHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

