@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "CDMP";
}

@*<h2>CDMP</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="CDMPHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>
