@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "DeathOnboard";
}

@*<h2>DeathOnboard</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="DeathOnboardHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>