@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "DrugAndAlcohol";
}

@*<h2>DrugAndAlcohol</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="DrugAndAlcoholHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>
