@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "FamilyOnboard";
}


@*<h2>FamilyOnboard</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="FamilyOnboardHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

