@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "MedicalExamination";
}

@*<h2>MedicalExamination</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="MedicalExaminationHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

