@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "MessmanJD";
}

@*<h2>MessmanJD</h2>*@

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="MessmanJDHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>
