@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "P2FourthEngineer";
}
<h2>@*P2FourthEngineer*@</h2>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="P2FourthEngineerHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

