@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "P2Oiler";
}
<h2>@*P2Oiler*@</h2>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="P2OilerHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

