@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "P2ThirdEngineer";
}
<h2>@*P2ThirdEngineer*@</h2>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="P2ThirdEngineerHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

