@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "P2ThirdOfficer";
}

<h2>@*P2ThirdOfficer*@</h2>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="P2ThirdOfficerHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>
