@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "ShipboardMedical";
}

<h2>@*ShipboardMedical*@</h2>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="ShipboardMedicalHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>