@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "ShoreOrganisation";
}

<h2>@*ShoreOrganisation*@</h2>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="ShoreOrganisationHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>