@model TCCCMS.Models.Manual

@{
    ViewBag.Title = "SOJD";
}

@*<h2>SOJD</h2>*@
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="SOJDHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>


