@model TCCCMS.Models.Manual
@{
    ViewBag.Title = "SOOC";
}
<h2>@*SOOC*@</h2>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="SOOCHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

