@model TCCCMS.Models.Manual

@{
    ViewBag.Title = "SSOJD";
}

@*<h2>SSOJD</h2>*@
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="SSOJDHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>

