@model TCCCMS.Models.Manual

@{
    ViewBag.Title = "TEJD";
}

@*<h2>TEJD</h2>*@
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="TEJDHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>
