@model TCCCMS.Models.Manual

@{
    ViewBag.Title = "TOJD";
}

@*<h2>TOJD</h2>*@
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<div id="TOJDHtml">
    @Html.Raw(Model.ManualBodyHtml)

</div>


