
@model TCCCMS.Models.LogForUserExcelPOCO

@{
    ViewBag.Title = "LogForUserExcel";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<link href="~/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/DataTables/datatables.min.js"></script>

<script src="~/Scripts/LogForUserExcel.js"></script>
<style>
    textarea {
        max-width: 600px;
    }
</style>

@Html.Hidden("GetLogForUserExcel", @Url.Action("GetLogForUserExcel", "LogForUserExcel"))

<body>
    <div class="row">

        <div class="col-md-3">
            <h2 class="ta">Log For User</h2>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-9 bac1">
                    <label id="lblSuccessCount">@*@Model.SuccessCount &nbsp; records has been Saved Or Replaced Successfully*@</label><br />

                    <label id="lblCount">@*@Model.SuccessCount &nbsp; records has been Saved Or Replaced Successfully*@</label><br />
                    @*<input class="form-control btn btn-sm" style="width:50px;" type="text" id="Count" placeholder="Log Count" disabled />*@ @*Below &nbsp; @Model.Count &nbsp; records were not save or update*@
                    <br />
                    @*<textarea style="border:groove; width:5000px !important;" id="LogData" name="LogData" rows="25" cols="10" disabled>@Model.LogData</textarea>*@
                    <textarea style="border:groove; width:5000px !important;" id="LogData" name="LogData" rows="25" cols="10" disabled></textarea>
                    <!--<div style="overflow: scroll; width: 700px; height: 400px; border: groove;">
        <label id="lblLogData">-->
                    @*@Model.SuccessCount &nbsp; records has been Saved Or Replaced Successfully*@
                    <!--</label>
    </div>-->


                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        //$('#example').DataTable();
        GetLogForUserExcel();
    });
</script>
