
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
@section Styles{
    <style type="text/css">
        #dropSection {
            height: 300px;
            width: 600px;
            background-color: skyblue;
        }

        #btnUpload {
            display: block;
        }

        .active {
            background-color: yellow !important;
        }
    </style>
}

<h2>Index</h2>

<div id="dropSection">
</div>
<br />
    Uploaded Files:
<hr />
<div id="uploadedFiles">
</div>
<div>
    <input type="button" id="btnUpload" value="Upload" />
</div>
<h2>Index Foot</h2>


@section Scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>


    @*<script src="~/Scripts/Upload/filedrop.js"></script>*@
    <script src="~/Scripts/Upload/jquery.filedrop.js"></script>


    <script type="text/javascript">
        $(function () {
            $("#dropSection").filedrop({
                fallback_id: 'btnUpload',
                fallback_dropzoneClick: true,
                url: '@Url.Action("Upload")',
                //allowedfiletypes: ['image/jpeg', 'image/png', 'image/gif', 'application/pdf', 'application/doc'],
                allowedfileextensions: ['.doc', '.docx', '.pdf', '.jpg', '.jpeg', '.png', '.gif'],
                paramname: 'fileData',
                maxfiles: 5, //Maximum Number of Files allowed at a time.
                maxfilesize: 5, //Maximum File Size in MB.
                dragOver: function () {
                    $('#dropSection').addClass('active');
                },
                dragLeave: function () {
                    $('#dropSection').removeClass('active');
                },
                drop: function () {
                    $('#dropSection').removeClass('active');
                },
                uploadFinished: function (i, file, response, time) {
                    $("#btnUpload").css({ "display": "block","width":"250px","height":"30px"});
                    $('#uploadedFiles').append(file.name + '<br />')
                },
                afterAll: function (e) {
                    //$("#btnUpload").css("display", "block");
                    //To do some task after all uploads done.
                }
            })
        })
    </script>
}


